<section class="section-def">
	<h1>Do you really want to cancel your membership?</h1>
	<div class="def-content">
		<form action="#" method="post" id="cancel_member_form">
			<h2>Are you sure you really want to delete your account?</h2>
			<label><input type="radio" name="cancel" value="1"> Yes </label>
			<label><input type="radio" name="cancel" value="0"> No </label>
			<div class="mtl reason" style="display:none">
				<h3>Can you tell us what went wrong?</h3>
				<textarea name="reason" rows="5" class="generic-textarea"></textarea>
			</div>
			<input type="submit" value="Continue" name="submit" class="button mtl submitbtn" style="display:none" />
		</form>
	</div>
</section>