<section id="left-column"> 
		{{ include_module('profiles#featured')}}
    <!-- Product Slideshow -->
		{{ include_module('events#latest') }}
	  </section>
  	<aside>
  	{{ include_viewmodel('users_profilesidebar') }}
    {% if 0 %}
    <!-- Contact Information -->
    <section class="infolist">
      <h2>Next event is....</h2>
      <ul>
        <li class="even address">Street Name, ZIP Code, City</li>
        <li class="odd phone"><a href="tel:+4951819313356" title="Phone">+49 5181 9313356</a></li>
        <li class="even email"><a href="mailto:hello@indiqo.eu" title="E-Mail">hello@indiqo.eu</a></li>
        <li class="odd web"><a href="http://indiqo.eu" title="Website">www.indiqo.eu</a></li>
      </ul>
    </section>
    
    <!-- Tag Filter -->
    <section id="tags">
      <h2>Browse by Tag</h2>
      <ul>
        <li class="even"><a href="collection.htm" title="Advertisement">Brunette</a></li>
        <li class="odd"><a href="collection.htm" title="Book">Skydiving</a></li>
        <li class="even"><a href="collection.htm" title="Brochure">Puppies</a></li>
        <li class="odd"><a href="collection.htm" title="Business Cards">One night...</a></li>
        <li class="even"><a href="collection.htm" title="Paperback">Movies</a></li>
        <li class="odd"><a href="collection.htm" title="E-Book">tiger</a></li>
      </ul>
    </section>
    {% endif %}
  </aside>