<section id="left-column">
	<section class="section-def"> 
		<h1>{{ title }}</h1> 
		<div class="def-content">
			{% if filter %}
			<ul class="my-messages">
				{% for user in filter %}
				<li class="user-status-{{ user.online_status ? 'unread' : 'read' }} ">
					<a href="{{ url("profile/#{user.username|lower}") }}" class="clear">
						<span class="image">{{ img(user.photo.url, { width: 150 }) }}</span>
						<h2>{{ user.username }}</h2>
						<span class="larger-text" style="color: #888">{{ user.age }} / {{ user.gender|capitalize }} / {{ user.relationship_status|capitalize }}
						/ {{ user.sexual_orientation|capitalize }}<br />
						{{ user.location_city }}, {{ user.location_state }}</span><br />
						Member Since: {{ user.created_at|date('m/j/Y') }}
					</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
		<div class="def-content">
			{{ pagination }}
		</div>
	</section>
</section>
<aside>
  	{{ include_viewmodel('users_profilesidebar') }}
</aside>