<section id="main">
	<div class="clear">
		<div class="left-login-form">
			<div class="invitation-form light-right-border">
				<h2 class="font-alt ptn light-shadow" style="font-size:22px">Hey there, beta is open.</h2>
				<div class="show-1024-or-fullsize tcenter">
					{{ img('heart-big.png', { 'height': 140, 'class': 'mvl' }) }}
				</div>
				<button onclick="window.location='{{ url('users/request') }}'" style="padding:8px 25px;font-size:18px">Request Invitation</button>
			</div>
		</div>
		<div class="right-login-form">
			<div>
			<h2 style="margin-bottom:10px">Login to Redzu</h2>
			{% include 'partials/loginform.twig' %}
			</div>
		</div>
	</div>
</section>
<script>
	(function () {
		var a=document.getElementById('password'),b=document.getElementById('username');
		if(b.value) a.focus();
		else b.focus();
	})();
</script>