<section id="left-column">

	<section class="section-def">
		<h1>
	  	{% if my_profile %}
	  	<a class="tlink" href="{{ url('/me/profile') }}">My</a>
	  	<a href="{{ url("/me/profile") }}">Back to my profile</a>
	  	{% else %}
	  	<a class="tlink" href="{{ url("/users/profile/#{pfuser.username|lower}") }}">{{ pfuser.username }}</a>'s
	    <a href="{{ url("/profile/#{pfuser.username|lower}") }}">Back to their Profile</a>
	  	{% endif %}
	    Photos ({{ photos|length }})
	  	</h1>
		<div class="def-content">
		{{ include_viewmodel('users_profilebit', { 'hide_photos': true }) }}
			<div class="redzu-pfuser-under-nav">
				{% include '/photos/upload_form.twig' %}
				{% include '/photos/show.twig' %}
			</div>
		</div>
	</section>	

	{{ include_viewmodel('users_profilefooter') }}
	
</section>
<aside>
{% if my_profile %}
	<section>
      <h2>Your default photo</h2>
      <div class="def-content">
      	<div class="aside-default-image">
        	<img src="{{ img_url(get_global('user.default_photo.url'), { 'width': 250, 'height': [ null, 250 ] }) }}" />
    	</div>
      </div>
    </section>
{% endif %}
	{{ include_viewmodel('users_profilesidebar') }}
</aside>
<!-- Tag Filter -->

<!-- Contact Information --></aside>