<section id="left-column">

	<!-- Main Content Area -->
	<section id="main" class="wprofile">
		<div class="profilebit">
		{{ include_viewmodel('users_profilebit', { 'about_me': true }) }}
		</div>

		<div class="def-content">
		<h3 id="profile_aboutme_fields">About me:</h3>

		<ul class="comments" id="profilefields" data-uid="{{ pfuser.id }}">
			<li class="profile-field"><span class="profile-field-label">Last login: </span> <small>{{ time_ago(pfuser.last_login) }}</small></li>
			{% set profilefields = get_metafields('userspecs') %}
			{% for id, pf in profilefields  %}
				{% set fielddat = user_data(pfuser.id, pf.meta, '')|escape %}
				{% if fielddat or can_edit_profile %}
				<li data-key="{{ pf.meta }}" class="profile-field"><span class="profile-field-label">{{ pf.label|capitalize }}</span>: <small>{{ fielddat ? fielddat : '—' }}</small></li>
				{% endif %}
			{% endfor %}
		</ul>
        
      <ol>
        <div class="right"><a href="{{ url("users/messages/all/#{pfuser.username}") }}" title="Button" class="button">Send Me a Message</a></div>
      </ol>
  </div>

		<!-- 
			You can display something like that instead if you don't allow comments:
			<p class="center">Comments are closed for this article.</p> 
		-->
		
	</section>			
	{{ include_viewmodel('users_profilefooter', { 'show_visited': (my_profile ? true : false) }) }}
</section>

<aside>
	{{ include_viewmodel('users_profilesidebar') }}
</aside>
	
<!-- Tag Filter -->

<!-- Contact Information --></aside>