<div class="profile-spec">
	<span id="user_summary" class="user-summary">
		<h2><span id="main_user_status" class="user-status-{{ pfuser.is_online ? 'online' : 'offline' }} "></span> <a href="{{ url("#{profile_link}/profile") }}">{{ pfuser.username }}</a></h2>
		{% if pfuser.basic_info %}
		<p id="basic-info">
			{{ pfuser.age }} / {{ pfuser.gender }} / {{ pfuser.relationship_status }} / {{ pfuser.sexual_orientation }}<br />
			{{ pfuser.location_city }}, {{ pfuser.location_state }}
		</p>
		<small>Member since {{ pfuser.created_at|date("m/d/Y") }}</small>
		{% endif %}
	</span>
	
</div>

{% if not hide_photos %}
	<ul class="profile-photos clear">
		{% for photo in pfuser.photos %}
		<li>
			<a href="{{ url("#{profile_link}/photos") }}">
			<img src="{{ img_url(photo.url, { 'width': [null, 235], 'height': '140' }) }}" />
			</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

{% if about_me %}
	<div id="profile_aboutme">
		<p>
		{{ user_data(pfuser.id, 'about_me', '')|nl2br }}
		</p>
	</div>	
{% endif %}

<ul class="redzu-pfuser-nav clear">
	<li>
		<a href="{{ url("#{profile_link}/profile") }}" class="{{ route_active("users/profile") }}">About</a>
		<a href="{{ url("#{profile_link}/photos") }}" class="{{ route_active("users/photos") }}">Photos</a>
		<a href="{{ url("#{profile_link}/events") }}" class="{{ route_active("users/events") }}">Events</a>
	</li>
</ul>