<section id="main">
	<h2>Recover your account</h2>
	{% if post and not errors %}
		<p>Please check your email for a link to</p>
	{% else %}
	<form action="{{ url('users/recover') }}" method="post">
		<label for="identifier">
		<strong>Username or email address</strong><br />
		</label>
		<div class="input-with-error">
			<input name="identifier" id="identifier" type="text" value="{{ identifier }}" />
			<span class="error">{{ errors.identifier }}</span>
		</div>
		<p>
			<input type="submit" class="button" value="Continue" />
		</p>
	</form>
	{% endif %}
</section>