
{% if step == 1 %}
<section id="left-column">
	<form id="signupform" action="{{ url('/users/register') }}" method="post">
	{% include "users/register/step_1.twig" %}
	</form>
</section>
<aside>
		<h2>Already have an account?</h2>
		<section class="pll pbl ptm">
			{% include 'partials/loginform.twig' %}
		</section>
		{% include 'partials/loginsocial.twig' %}
</aside>
{% else %}
<section class="section-def">
	<h1>{{ title }}</h1>
	<div class="def-content">
	<form id="signupform" action="{{ url('/users/register') }}" method="post">
		{% include "users/register/step_#{step}.twig" %}

	</form>
	</div>
</section>
{% endif %}
<script>
	(function () {
		var inputs = document.getElementById('signupform').getElementsByTagName('input'),i;
		for(i = 0; i < inputs.length; i++) { if(!inputs[i].value) return inputs[i].focus(); }
	})();
</script>
