<section class="section-def">
	{% if submit and not errors %}
	<h1>Thanks for registering at Redzu</h1>
	<div class="def-content">
		<h2>You're on the list!</h2>
		<p>We'll notify you when the beta is available near you.</p>
	</div>
	{% else %}
	<h1>Request Invitation</h1>
	<div class="def-content">
		<h2>We're in private beta.</h2>
		<p>We'll notify you via email when Redzu beta is available in your area.</p>
		<form action="{{ url() }}" id="request_invite" method="post">
			<div class="clear">
				<div class="fleft">
					<label for="email">E-mail Address</label>
					<div class="input-with-error">
						<input type="email" name="email" id="email" value="{{ fields.email }}" />
						<div class="error">
							{{ errors.email }}
						</div>
					</div>
				</div>
				<div class="fleft mlm mrm">
					<label for="zipcode">Zip Code</label>
					<div class="input-with-error">
						<input type="text" size="5" maxlength="6" name="zipcodeb" id="zipcode" value="{{ fields.zipcode }}" />
						<div class="error">
							{{ errors.zipcode }}
						</div>
					</div>
				</div>
				<div class="fleft">
					<div class="show-480 mts"></div>
					<label class="show-1024-or-fullsize" style="margin-top:1px">&nbsp;</label>
					<input type="submit" class="button" value="Request Invite" />
				</div>
			</div>
		</form>
		<div class="required-field"><span class="required">*</span> required</div>
	</div>
	{% endif %}
</section>