<p>Hi {{ user.username|default('there') }},</p>

<p>You may use the link below to reset your password.</p>

<p><a href="{{ url("users/recover/#{reset_code}") }}">{{ url("users/recover/#{reset_code}") }}</a></p>
<p>
	Love,<br />
	Redzu
</p>