<section id="mysettings" class="section-def">
<h1>Redzu Administration</h1>
<div class="def-content">
	<ul class="redzu-pfuser-nav clear">
		{% if has_access(['admin', 'index']) %}
		<li>
			<a class="{{ route_active('admin/index') }}" href="{{ url('admin') }}">Dashboard</a>
		</li>
		{% endif %}
		{% if has_access(['admin', 'users/index']) %}
		<li>
			<a class="{{ route_active('admin/users') }}" href="{{ url('admin/users') }}">Users</a>
		</li>
		{% endif %} 
		{% if has_access(['admin', 'hackers']) %}
		<li>
			<a class="{{ route_active('admin/hackers') }}" href="{{ url('admin/hackers') }}">Hackers</a>
		</li>
		{% endif %}
	</ul>
	<div class="redzu-pfuser-under-nav">
		{{ content }}
	</div>
</div>
</section>