<div id="hacker-console">
<div id="hacker-console-output-container">
<div id="hacker-console-output"></div>
</div>

<div class="clear" id="hacker-console-input-container">
<span id="hacker-console-input-prefix">
</span>
<input type="text" value="" class="edit-pure edit-hacker" id="hacker-console-input" />
</div>
</div>