
    {% if events %}
    <section id="slideshow">
      <ul class="slider regular">
        
        <!-- Repeatable Item Begin -->
	        {% for event in events %}
	        <li>
	          <h1>{{ title }}<b></b></h1>
	          <div class="event-image">
	          		<a href="{{ url("events/#{event.id}") }}" class="img" style="background-image:url({{ url(event.get_default_photo().url) }});"></a>
	          </div>
	          <h2 class="phl ptm">{{ event.event_name }} {{ event.ticket_price ? "<sup style='font-size:13px'>only $#{event.ticket_price}!</sup>" : '' }}</h2>
	          <div class="pbs phl"> 
	          	<p class="pan">{{ event.additional_info|truncate(160) }}</p>

	          	<button class="mtl" onclick="location.href='{{ url("events/#{event.id}") }}'">View Event</button>
	          </div>
	          </li>
	        {% endfor %}
        <!-- Repeatable Item End --> 
        
      </ul>
      

      <ul class="slider responsive">
        
        <!-- Repeatable Item Begin -->
	        {% for event in events %}
	        <li>
	          <h1>{{ title }}<b></b></h1>
	          <div class="full-image">
	          		{{ img(event.get_default_photo().url) }}
	          </div>
	          </li>
	        {% endfor %}
        <!-- Repeatable Item End --> 
        
      </ul>
      
      <!-- Slideshow Controls --> 
      <a title="Previous" class="slider-prev">Previous</a> <a title="Next" class="slider-next">Next</a> </section>
    {% endif %}