{% if profiles and featured %}
<section id="featured">
	<h1>
	{{ img('icon-featured.png', { 'alt': 'featured' }) }}
	Featured Profiles<a href="/users/list/featured" title="See All Products"></a></h1>
	<ul>
		<li class="slide">

			{% for id, user in profiles %}
			<a href="{{ url("profile/#{user.username|lower}") }}" class="user-block">
				{{ img(user.get_default_photo().url, { 'width': 235, 'height': [null,120] }) }}
				<div class="overlay">
					<h3 class="username">
						<span class="user-status-{{ user.online_status() ? 'online' : 'offline' }}"></span>
						{{ user.username }}
					</h3>	
				</div>
			</a>
			{% endfor %}					
		</li>
	</ul>				
</section>
{% endif %}

{% if profiles and popular %}
<section id="popular">
<h2>Popular Profiles</h2>
<ul>
{% for popid, popuser in profiles %}
<li class="{{ cycle(['odd', 'even'], i) }}">
  <div class="product-preview"><a href="{{ url("profile/#{popuser.username|lower}") }}" title="{{ popuser.username }}">{{ img(popuser.get_default_photo().url, {'width':'50', 'height':'53'}) }}</a></div>
  <a href="{{ url("profile/#{popuser.username|lower}") }}" title="{{ popuser.username }}"><b>{{ popuser.username }}</b></a> <small>{{ popuser.get_meta('age') }} - {{ popuser.get_meta('gender')|capitalize }}</small>
</li>
{% endfor %}
</ul>
</section>
{% endif %}