<form>
<input type="hidden" name="gmtoffset" id="gmtoffset" value="">
<label for="password">Username</label>
<div class="input-with-error">
	<input type="text" name="username" id="username" disabled readonly value="{{ user.username }}" /><br />
	<div class="error">
		{{ errors.username }}
	</div>
</div>
<label for="zipcode">Zip Code</label>
<div class="input-with-error">
	{% if fields.city and not errors.zipcode %}
		<div id="zipcodelocation">{{ fields.city }}, {{ fields.state }}<br />
		<a href="#" onclick="document.getElementById('zipcode').style.display='block';document.getElementById('zipcodelocation').style.display='none';return false" style="font-size:9px">Change my location</a></div>
	{% endif %}
	<input type="text" {{ fields.city and not errors.zipcode  ? 'style="display:none"' : '' }} maxlength="5" name="zipcode" id="zipcode" value="{{ fields.zipcode }}" />
	<div class="error">
		{{ errors.zipcode }}
	</div>
</div>
<label for="sexual_orientation">Sexual Orientation</label>
<div class="input-with-error">
	<select name="sexual_orientation">
		{% for key, val in sexual_orientation_fields %}
			<option value="{{ key }}" {{ fields.sexual_orientation == key|lower ? 'selected' : '' }}>{{ val }}</option>
		{% endfor %}
	</select>
	<div class="error">
		{{ errors.sexual_orientation }}
	</div>
</div>

<label for="relationship_status">Relationship Status</label>
<div class="input-with-error">
	<select name="relationship_status">
		{% for key, val in relationship_status_fields %}
			<option value="{{ key }}" {{ fields.relationship_status == key|lower ? 'selected' : '' }}>{{ val }}</option>
		{% endfor %}
	</select>
	<div class="error">
		{{ errors.relationship_status }}
	</div>
</div>

<label for="gender">Gender</label>
<div class="input-with-error">
	<select name="gender">
		{% for key, val in gender_fields %}
			<option value="{{ key }}" {{ fields.gender == key|lower ? 'selected' : '' }}>{{ val }}</option>
		{% endfor %}
	</select>
	<div class="error">
		{{ errors.gender }}
	</div>
</div>

<label for="gender">Date of Birth</label>
<div class="input-with-error">
	<select name="dob[month]">
		{% for key, val in dob_month_fields %}
			<option value="{{ key|lower == '$' ? key : key + 1 }}"
			{% if key|lower != '$' and (fields.dob.month == key + 1) %}selected{% endif %}>{{ val }}</option>
		{% endfor %}
	</select>
	<select name="dob[day]">
		{% for key, val in dob_day_fields %}
			<option {{ key|lower == '$' ? 'value="$"' : '' }}
			{% if fields.dob.day == val %}selected{% endif %}>{{ val }}</option>
		{% endfor %}
	</select>
	<select name="dob[year]">
		{% for key, val in dob_year_fields %}
			<option {{ key|lower == '$' ? 'value="$"' : '' }}
			{% if fields.dob.year == val %}selected{% endif %}>{{ val }}</option>
		{% endfor %}
	</select>
	<div class="error">
		{{ errors.dob }}
	</div>
</div>
<br />
<input type="submit" class="button" value="Save" />
</form>