<section id="left-column">
	<section class="section-def"> 
		<h1>Discussions with {{ to_user.username }}</h1>
		<div class="def-content">
			<div id="user_img_{{ to_user.id }}" style="display:none">
				{{ img(to_user.get_default_photo().url, { 'width': '50', 'height': '50' }) }}
			</div>
			<div id="user_img_{{ user.id }}" style="display:none">
				{{ img(user.get_default_photo().url, { 'width': '50', 'height': '50' }) }}
			</div>
			<div class="messages-container" id="messages_container">
			<div class="messages" data-to="{{ to_user.id }}" id="messages">
				
			</div>
			</div>
			<form action="{{ url() }}" method="post" id="chat_form">
				<div class="mrl">
				<textarea class="generic-textarea" style="width:100%"></textarea>
				<div class="clear">
					<div class="fleft"><input type="submit" value="Send" /></div>
					<div class="fleft mll" style="line-height:23px">
						<label><strong>Shift + Enter</strong> creates a new line</label>
					</div>
				</div>
				</div>
			</form>
		</div>
	</section>
</section>
<aside>
  	{{ include_viewmodel('users_profilesidebar') }}
</aside>