<section id="left-column">
	<section class="section-def"> 
		<h1>My Messages</h1> 
		<div class="def-content">
			{% if unread_messages %}
				<p class="tcenter pbl"><strong>{{unread_messages}}</strong> unread messages</p>
			{% elseif not messages %}
				<p class="tcenter pbl">Aww no messages yet. Try <a href="{{ url('users/list/all') }}">finding some people</a> to talk to.</p>
			{% else %}
				<p class="tcenter pbl">You're inbox is boring! Try <a href="{{ url('users/list/all') }}">finding some new people</a> to talk to.</p>
			{% endif %}
			{% if messages %}
			<ul class="my-messages">
				{% for message in messages %}
				{% set muser = message.from_user_id == user.id ? message.user : message.from_user %}
				<li class="{{ message.user_id != user.id or message.read ? 'read' : 'unread' }}">
					<a href="{{ url("users/messages/read/#{muser.username|lower}") }}" class="clear">
						<span class="image">{{ img(muser.get_default_photo.url, { width: '60'}) }}</span>
						<h2>{{ muser.username }}</h2>
						<small><span class='message-status-{{ message.from_user_id == user.id ? 'out' : 'in' }}'></span> {{ message.message|truncate(50) }}</small>
					</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</section>
</section>
<aside>
  	{{ include_viewmodel('users_profilesidebar') }}
</aside>