
<!-- Footer incl. Copyright and Secondary Navigation -->
<footer>
  <section id="bottom"> 
    
    <!-- Recent News -->
    <section id="recent-news">
      <h2>From Our Blog</h2>
      <ul>
        <li>
          <div class="date"> <b>29</b> <span class="month">Nov</span> </div>
          <div class="details"> Ten New Ways to get that special guy<br />
            <a href="" title="Comments">11 Comments</a> </div>
        </li>
        <li>
          <div class="date"> <b>22</b> <span class="month">Nov</span> </div>
          <div class="details"> I cant believe its not Better<br />
            <a href="" title="Comments">0 Comments</a> </div>
        </li>
        <li>
          <div class="date"> <b>17</b> <span class="month">Nov</span> </div>
          <div class="details"> The Truth behind Love and why it is out there<br />
            <a href="" title="Comments">23 Comments</a> </div>
        </li>
      </ul>
    </section>
    
    <!-- Twitter -->
    <section id="latest-tweets">
      <h2>Latest Tweets</h2>
      <div class="tweet"></div>
    </section>
    
    <!-- Information & Newsletter Subscription -->
    <section id="about-us">
      <h2>About Us</h2>
      <div class="introduction">
        <p>At RedZu, we focus on bringing compatible singles together at fun, local events in the real world. It’s the faster way to meet real people for real connections.</p>
      </div>
    </section>
  </section>
  <p><b>Copyright &copy; 2010-12 Redzu.</b> All Rights Reserved.</p>
  <nav>
    <ul>
      <li class="active"><a href="{{ url('/') }}" title="Home">Home</a></li>
      <li><a href="{{ url('/about') }}" title="About">About</a></li>
      <li><a href="{{ url('/faq') }}" title="FAQ">FAQ</a></li>
      <li><a href="{{ url('/terms') }}" title="Terms of Service">Terms of Service</a></li>
      <li><a href="{{ url('/terms') }}" title="Privacy">Privacy</a></li>
      <li><a href="{{ url('/api') }}" title="API">API</a></li>
      <li><a href="http://blog.redzu.com/" title="Blog">Blog</a></li>
    </ul>
  </nav>
</footer>