
<!-- Title incl. Logo & Social Media Buttons -->
<section id="title">
  <h1><a href="{{ url('/') }}" title="Logo">{{ img('logo.png', { 'alt': 'Logo' }) }}</a></h1>
  <ul>
  	<!-- 
    <li class="call"><b>Call Us</b> <span class="underline">1.800.vst.redz</span></li>
-->
    <li class="twitter"><a href="http://twitter.com/redzudating" title="Twitter">Twitter</a></li>
    <li class="facebook"><a href="http://facebook.com/#" title="Facebook">Facebook</a></li>
    <li class="flickr"><a href="http://www.flickr.com/photos/#" title="Flickr">Flickr</a></li>
    <li class="rss"><a href="feed://#" title="RSS">RSS</a></li>
  </ul>
</section>