<header>
  <div class="texture">
    <div class="wrap">
      <nav>
        <ul>
          {% if logged_in %}

          <li class="{{ route_active('users/index') }} show-1024-or-fullsize"><a href="{{ url('/me') }}" title="Home">Home</a></li>

          <li class="dropdown"> <a title="Events">Events</a>
            <ul>
              <li class="even"><a href="{{ url('events') }}" title="See All">See All</a></li>
              <li class="even"><a href="{{ url('events') }}" title="Todays Events">Todays Events</a></li>
              <li class="even"><a href="{{ url('events') }}" title="This Week">This Week</a></li>
              <li class="even"><a href="{{ url('events') }}" title="This Month">This Month</a></li>
              <li class="even"><a href="{{ url('events') }}" title="Your Saved">Your Saved</a></li>
              {% if has_access(['events','create']) %}
              <li class="even"><a href="{{ url('events/create') }}" title="Create your Own">Create your Own</a></li>
              {% endif %}
            </ul>
          </li>

          <li class="dropdown {{ route_active('users/list') }}"> <a title="People">People</a>
            <ul>
              <li class="even"><a href="{{ url('users/list/all') }}" title="See All">See All</a></li>
              <li class="even"><a href="{{ url('users/list/time/today') }}" title="New Today">New Today</a></li>
              <li class="even"><a href="{{ url('users/list/time/week') }}" title="Active This Week">Active This Week</a></li>
              <li class="even"><a href="{{ url('users/list/time/month') }}" title="Active this Month">Active this Month</a></li>
              <li class="even"><a href="{{ url('users/list/time/3months') }}" title="Active in 3 months">Active in 3 months</a></li>
              <li class="even"><a href="{{ url('users/list/create-filter') }}" title="Create Filter">Create Filter</a></li>
            </ul>
          </li> 
	  <li>
	  	<a href="{{ url('deals') }}" title="Deals">Deals</a>
	  </li>
<li class="{{ route_active('users/upgrade') }} show-1024-or-fullsize"><a href="{{ url('users/upgrade') }}" title="Upgrade">Upgrade</a></li>
          {% else %}

          <li class="{{ route_active('users/index') }}"><a href="/" title="Home">Home</a></li>
          <li><a href="{{ url('users/register') }}" title="Sign-up">Sign-up</a></li>
          <li><a href="{{ url('users/login') }}" title="Login">Login</a></li>
          <li><a href="{{ url('faq') }}" title="FAQ">FAQ</a></li>
          {% endif %}
        </ul>
      </nav>
      {% if logged_in %}
      <nav class="right-nav">
	      <ul>
	      	  <li class="redzu-notify-tab"> 
					<span class="redzu-user-top-img" id="redzu-user-top-img">
						{{ img(get_global('user.default_photo.url'), { 'width': 19, 'height': 19 }) }}
						<span class="redzu-user-top-notifications {{ message_count > 9 ? 'redzu-user-notifications' : '' }}">
						{{ message_count }}
						<ul class="notification-list">
						</ul>
						</span>
					</span>
	      	  </li>
			  <li class="dropdown {{ route_active('me/profile') }} redzu-top-drop-user">			
			  	<a title="{{ username }}" class="redzu-user-top">
      			<span class="redzu-user-top-username">{{ username }}</span></a>
	            <ul>
	              <li class="even"><a href="{{ url('me/profile') }}" title="See All">My Profile</a></li>
	              <li class="even"><a href="{{ url('users/messages') }}" title="See All">Messages ({{ message_count }})</a></li>
	              <li class="even"><a href="{{ url('users/settings') }}" title="See All">Settings</a></li>
	              <li class="even"><a href="{{ url('users/logout') }}" title="See All">Logout</a></li>
	            </ul>
	        	</a>
	          </li>
	      </ul>
	  </nav>
	  <form method="get" class="search-form-top" action="{{ url('users/search') }}">
        <div>
          <input type="text" name="q" class="search-input" placeholder="Search..." value="{{ input_get('q') ? input_get('q') : 'Search...' }}" />
          <input type="image" src="{{ img_url('icon-search.png') }}" class="search-submit" alt="Search" />
        </div>
      </form>
      {% endif %}
    </div>
  </div>
</header>
