<section style="margin:50px 0 200px; text-align:center">
	<section id="main">
	<h1 style="font-size:50px;text-shadow:0 4px 8px #aaa;color:#905">Feature coming soon</h1>
	<p style="font-size:16px;color:#777;">We're working on it. More to come.</p>
	</section>
</section>