<section style="margin:50px 0 200px; text-align:center">
	<section id="main">
	<h1 style="font-size:50px;text-shadow:0 4px 8px #aaa;color:#905">{{ title }}</h1>
	<p style="font-size:16px;color:#777;">{{ message }}</p>
	</section>
</section>

{% if redirect %}

<script type="text/javascript">
//<![CDATA[
setTimeout(function(){window.location='{{ url(redirect) }}'; }, 3000);
//]]>
</script>

{% endif %}