<section style="margin:50px 0 200px; text-align:center">
	<section id="main">
	<h1 style="font-size:50px;text-shadow:0 4px 8px #aaa;color:#905">An unknown error occured!</h1>
	<p style="font-size:16px;color:#777;">Might be a bug, the Redzu team has been notified.</p>
	</section>
</section>
<script type="text/javascript">
//<![CDATA[
setTimeout(function(){window.location='{{ url("/") }}'; }, 3000);
//]]>
</script>