/*
@import url(http://fonts.googleapis.com/css?family=Abel);
*/
@import url(http://fonts.googleapis.com/css?family=Abel);

/* CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,code,del,dfn,em,font,img,ins,kbd,q,s,samp,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,header,section,footer {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0; }
    
/* Basic Styling */
a { color: #7a3f5c; }

a, a:link, a:visited { 
	text-decoration: none;
	-webkit-transition-property: color, left, right;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-property: ease-in-out; }
 
a:hover { color: #88b2ae; }
.leftimg { border:2px solid #fff; float:left; margin-right:10px }
.percentage-bar {
	background:#fff;
	-webkit-box-shadow:0px -1px 1px 0px #ddd inset;
	-moz-box-shadow:0px -1px 1px 0px #ddd inset;
	box-shadow:0px -1px 1px 0px #ddd inset;
}
.percentage-bar-current {
	height:7px;
	background:#090;
	-webkit-box-shadow:0px -1px 0 0px #030 inset;
	-moz-box-shadow:0px -1px 0 0px #030 inset;
	box-shadow:0px -1px 0 0px #030 inset;
}
.percent-text {
	text-align:right;
	font-size:10px;
	color:#9aa99a;
}

html, body { -webkit-font-smoothing: antialiased; text-shadow:0 0 2px rgba(0,0,0,0.03); }
 


html,body {
	background: #f0ede9 url(../img/background.jpg) repeat-x top center;
	color: #363636;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	text-align: center; }
 
header, nav, section, aside, footer { display: block; }
 
div {
	text-align: left;
	vertical-align: top; }

.flash_error, .flash_alert, .flash_notice, .flash_success, .flash_info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;box-shadow:0 2px 1px 0 rgba(0,0,0,0.05)}
.flash_error, .flash_alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.flash_notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.flash_success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.flash_info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.flash_error a, .flash_alert a {color:#8a1f11;}
.flash_notice a {color:#514721;}
.flash_success a {color:#264409;}
.flash_info a {color:#205791;}

.nopad { padding:0; }
.mobilebreak{display:none;}
.break1024 {display:none;}



.ptn,.pvn,.pan{padding-top:0px !important}
.pts,.pvs,.pas{padding-top:5px !important}
.ptm,.pvm,.pam{padding-top:10px !important}
.ptl,.pvl,.pal{padding-top:20px !important}
.prn,.phn,.pan{padding-right:0px !important}
.prs,.phs,.pas{padding-right:5px !important}
.prm,.phm,.pam{padding-right:10px !important}
.prl,.phl,.pal{padding-right:20px !important}
.pbn,.pvn,.pan{padding-bottom:0px !important}  
.pbs,.pvs,.pas{padding-bottom:5px !important}
.pbm,.pvm,.pam{padding-bottom:10px !important}
.pbl,.pvl,.pal{padding-bottom:20px !important}
.pln,.phn,.pan{padding-left:0px !important}
.pls,.phs,.pas{padding-left:5px !important}
.plm,.phm,.pam{padding-left:10px !important}
.pll,.phl,.pal{padding-left:20px !important}
.mtn,.mvn,.man{margin-top:0px !important}
.mts,.mvs,.mas{margin-top:5px !important}
.mtm,.mvm,.mam{margin-top:10px !important}
.mtl,.mvl,.mal{margin-top:20px !important}
.mrn,.mhn,.man{margin-right:0px !important}
.mrs,.mhs,.mas{margin-right:5px !important}
.mrm,.mhm,.mam{margin-right:10px !important}
.mrl,.mhl,.mal{margin-right:20px !important}
.mbn,.mvn,.man{margin-bottom:0px !important}  
.mbs,.mvs,.mas{margin-bottom:5px !important}
.mbm,.mvm,.mam{margin-bottom:10px !important}
.mbl,.mvl,.mal{margin-bottom:20px !important}
.mln,.mhn,.man{margin-left:0px !important}
.mls,.mhs,.mas{margin-left:5px !important}
.mlm,.mhm,.mam{margin-left:10px !important}
.mll,.mhl,.mal{margin-left:20px !important}

.aside-default-image {
	background:#fff;
	text-align:center;
	overflow:hidden;
}

.login_unit {
	padding-left:40px;
	border-left:1px solid #ccc;
}

.splashleft {
	width:70%;
}
.splashright {
	width:30%;
}

.aside-default-image img {
	height:auto!important;
	height:220px;
	max-height:220px;
	vertical-align:middle;
}

.splashbeta {
	margin:18px 0 50px;background:rgba(255,255,255,0.8);
	padding:45px;border-radius:6px;

}

.right-content {
	padding:12px;
}
.image-box {
	padding:10px; background:#fff; margin:10px; 
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.image-box-container {
	margin-top:-10px;
}

.image-box-3 {
	float:left;
	vertical-align:top;
	width:33.33%;
}

.image-box .image-box-image {
	min-height:180px;
	line-height:180px;
	max-height:180px;
	height:auto!important;
	height:180px;
	overflow:hidden;
	width:100%;
	display:block;
	text-align:center;
}

.image-box .image-box-image img {
	line-height:0;
	max-width:100%;
	vertical-align:middle;
	width:auto!important;
	width:100%;
}

.image-box .image-desc {
	padding:8px 0;
	height:30px;
	overflow:hidden;
	color:#888;
}

.image-box .image-desc .clickb {
	cursor:pointer;
	display:block;
	height:36px;
}

.image-box .image-nav {
	margin-top:5px;
	border-top:1px solid #eee;
	padding-top:5px;
}


.input-with-error { position:relative;display:block }
.input-with-error .error {
 position:absolute;
 display:none;
 z-index:1000;
 top:50%;
 margin-top:-12px;
 line-height:18px;
 margin-left:10px; 
 font-size:13px;color:#fff;
 background:#c00; padding:4px 6px;
 -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px; }

 .input-with-error .error:before {
 	content:"";
 	width: 0;
	height: 0;
	position:absolute;
	left:-5px;
	top:7px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent; 
	border-right:6px solid #c00;
 }

.zodiac-form-main {
	text-align:center;
	border-right:1px solid #ccc;
	overflow:auto;
	height:280px;
}
.zodiac-form-main .flash_error {
	margin:30px;
	display:block;
}
 

.image-box .image-nav a {
	float:left;
}
.image-box .image-nav a:hover,
.image-box .image-nav a:focus {
	color:#B54C77;
}
.generic-textarea {
	background:#eee;
	line-height:18px;
	font-size:13px;
	color: #888;
	font-family: "Helvetica Neue", Arial, sans-serif;
	border:1px solid #ddd;
	width:430px;
}

.generic-textarea:focus {
	-webkit-transition: all 0.12s ease-in;
	transition: all 0.12s ease-in;
	color: #444;
	border:1px solid #B54C77;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(234, 111, 153, 0.8);
	-moz-box-shadow: 0px 0px 5px 0px rgba(234, 111, 153, 0.8);
	box-shadow: 0px 0px 5px 0px rgba(234, 111, 153, 0.8);
}

.tlink, .tlink:link { color:#B54C77;font-size:16px;display:inline;float:none }

hr {
	background: #c7c7c7;
	border-top: 1px solid #c9c9c9;
	border: 0;
	height: 1px;
	margin: 15px 0; }
 
p { padding: 7px 0; }
 
textarea, input {
	background: #f4f4f4; 
	border: 1px solid #c7c7c7;
	padding: 8px; 
	margin: 2px 0; 
	font-size: 12px;
	line-height: 1;
	-webkit-transition-property: width, background;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-property: ease-in-out; }

textarea:focus, input:focus {
	background: #fff;
	outline: none; }
 
select, option {
	background: #ffffff;
	color: #000; }
	
small {
	font-size: 12px;
	color: #858585; }
	
label {
	display: block;
	font-size: 11px;
	color: #858585;
	padding-top: 8px; }
 
h1 {
	font-size: 24px;
	line-height: 1.5;
	-webkit-font-smoothing: subpixel-antialiased; }
 
h2 {
	color: #7a3f5c;
	font-size: 20px;
	line-height: 1.5;
	-webkit-font-smoothing: subpixel-antialiased; }
 
h3 {
	font-size: 16px;
	line-height: 1.5; }
	
del { color: #b71012; }
	
/* Clearfix */
.clear:after, header:after, #title:after, .def-content:after, .price ul:after, #content:after, #featured ul:after, .user-block ul:after, .sale ul:after, #specials ul:after, footer:after, .product-cart:after, .texture:after, #bottom:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0; }
 
* html .clear, * html header, * html .def-content, * html #title, * html .price ul, * html #content, * html #featured ul, * html .sale ul, * html .user-block ul, * html #specials ul, * html footer, * html .product-cart, * html .texture, * html #bottom { zoom: 1; }
 
*:first-child+html .clear, *:first-child:+html .def-content, *:first-child+html header, *:first-child+html #title, *:first-child+html .price ul, *:first-child+html #content, *:first-child+html #featured ul, *:first-child+html .sale ul, *:first-child+html .user-block, *:first-child+html #specials ul, *:first-child+html footer, *:first-child+html .product-cart, *first-child+html .texture, *first-child+html #bottom { zoom: 1; }

/* Alignment Options */
.left { text-align: left; }

.center { text-align: center; }

.right { text-align: right; }

.column-left {
	width: 45%;
	float: left; }
	
.column-right {
	width: 45%;
	float: right; }

/* Global Border Radius */
.border, #slideshow, .section-def, #featured, .sale, .price, .price ul, aside section, #specials li, #main ul, #main ol, textarea, input, .button, #main, .variants, .product-cart, #recent-news .date, #about-us form {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; }
	
.border-top, #slideshow h1, .section-def h1, #featured h1, .sale h1, aside h2, #about-us form h2  {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px; }

.border-bottom, header li ul, aside li:last-child {
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; }

/* Box Shadow Settings */	
.shadow, #slideshow, .section-def, #featured, .sale, aside section, #specials li, #main, #about-us form {
	-moz-box-shadow: 0 1px 2px #a6a098;
	-webkit-box-shadow: 0 1px 2px #a6a098;
	box-shadow: 0 1px 2px #a6a098; }
	
.background-fade, aside li, #title li a {	
	-webkit-transition-property: color, background-color, opacity;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-property: ease-in-out; }

/* Custom Font Loading */
.custom-font, header, .search-input, h1, h2, h3 { font-family: 'Abel', Helvetica, Arial, Verdana, sans-serif; }

/**
 * UIKit
 * 
 * @link https://github.com/visionmedia/uikit
 */
#dialog {
  position: fixed;
  left: 50%;
  top: 150px;
  max-width: 600px;
  min-width: 250px;
  border: 1px solid #eee;
  background: white;
  z-index: 1000;
}

#dialog .content {
  padding: 15px 20px;
}

#dialog h1 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: normal;
}

#dialog p {
  margin: 0;
  padding: 0;
  font-size: .9em;
}

#dialog.modal {
  box-shadow: 0 1px 8px 0 black;
}

/* close */

#dialog .close {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  display: none;
}

#dialog.closable .close {
  display: block;
}

#dialog .close:hover {
  color: black;
}

#dialog .close:active {
  margin-top: 1px;
}

/* slide */

#dialog.slide {
  -webkit-transition: opacity 300ms, top 300ms;
  -moz-transition: opacity 300ms, top 300ms;
}

#hacker-console {
	background: #111;
}
#hacker-console-output-container {
	height:200px;
	overflow:auto;
	padding: 5px;
}
#hacker-console-output {
	display:table-cell;
	vertical-align:bottom;
}
#hacker-console-input-container {
	position:relative;
	border-top:1px dashed #222;
	padding: 5px;
}
#hacker-console-input-prefix {
	float:left;
}
#hacker-console-input { 
	float:left;
}
#hacker-console-input, #hacker-console-output, #hacker-console-input-prefix {
	font: 14px/18px monaco, "Courier New", Courier, monospace;
	color: #0b0;
}

#dialog.slide.hide {
  opacity: 0;
  top: -500px;
}

/* fade */

#dialog.fade {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
}

#dialog.fade.hide {
  opacity: 0;
}

/* scale */

#dialog.scale {
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

#dialog.scale.hide {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
}#overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.75);
  transition: opacity 300ms;
  z-index: 500;
}

#overlay.hide {
  pointer-events: none;
  opacity: 0;
}.confirmation .actions {
  border-top: 1px solid #eee;
  padding: 5px;
  text-align: right;
  background: #fafafa;
  box-shadow: inset 0 1px 0 white;
}.color-picker canvas {
  border: 1px solid #888;
}
.color-picker canvas:active {
  cursor: none;
}

#notifications {
  position: fixed;
  top: 50px;
  right: 15px;
}

#notifications li {
  margin-bottom: 5px;
  list-style: none;
}

.notification {
  position: relative;
  max-width: 600px;
  min-width: 250px;
  border: 1px solid #eee;
  background: white;
  z-index: 100;
}

.notification .content {
  padding: 15px 20px;
}

.notification h1 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: normal;
}

.notification p {
  margin: 0;
  padding: 0;
  font-size: .9em;
}

.notification .close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  color: #888;
  display: none;
}

.notification.closable .close {
  display: block;
}

.notification .close:hover {
  color: black;
}

.notification .close:active {
  margin-top: 1px;
}

/* close */

.notification .close {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  display: none;
}

/* slide */

.notification.slide {
  -webkit-transition: opacity 300ms, top 300ms;
  -moz-transition: opacity 300ms, top 300ms;
}

.notification.slide.hide {
  opacity: 0;
  top: -500px;
}

/* fade */

.notification.fade {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
}

.notification.fade.hide {
  opacity: 0;
}

/* scale */

.notification.scale {
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

.notification.scale.hide {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
}.split-button {
  display: inline-block;
  border: 1px solid #eee;
}

.split-button a {
  display: inline-block;
  float: left;
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.split-button .toggle {
  border-left: 1px solid #eee;
}

.split-button .toggle span {
  display: block;
  margin-top: 8px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #888;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  padding: 0;
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
}

.calendar thead td {
}
.calendar thead td .show-1024-or-fullsize {
	display:inline;
}
.calendar td {
	padding:9px 11px;
	width:14.2857%;
}
.calendar {
	width:100%;
}
.calendar tbody td {
	position:relative;
	padding-top:33px;
	background:#fcfcfc;
	border:2px solid #ddd;
	vertical-align:top;
	height:60px;
}
.calendar td .event, .calendar td .event-disabled {
	color:#0058A1;
	border-radius:4px;
	padding:1px 4px;
	background:#f0f0f0;
	margin-bottom:4px;
	font-size:10px;
	cursor:pointer;
}
.calendar .selectedday {
	border:2px solid #f2db74;
	background:#ffd;
}
.calendar .selectedday .event {
	background: #f9f9f9;
	border:1px solid #ccc;
}
.calendar .event:hover {
	-webkit-transition:all 0.1s ease-in;
	transition:all 0.1s ease-in;
	background:#FAE896;
	border-color:#FAE896;
	color:#333;
}
.calendar td .event-disabled, .calendar .event-disabled:hover {
	color:#888;
	background:#f4f4f4;
}
.calendar .dayofweek {
	position:absolute;
	top:5px;
	left:8px;
	font-size:18px;
}

.tipevent
{
    padding: 10px;
    min-width:250px;
    max-width:400px;
    color: #303030;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    position:relative;
}
.tipevent:after {
	content:"";
	text-indent:-999em;
	border-color: #ccc transparent;
	border-style: solid;
	border-width: 6px 6px 0px 6px;
	height: 0px;
	width: 0px;
	position:absolute;
	left:50%;
	margin-left:-6px;
	bottom:-7px;
}

.calendar .notday {
	background:rgba(255,255,255,0.2);
	border:1px dashed rgba(0,0,0,0.1);
}

.menu li {
  list-style: none;
}

.menu li a {
  display: block;
  padding: 5px 30px 5px 12px;
  text-decoration: none;
  border-top: 1px solid #eee;
  color: #2e2e2e;
}

.menu li:first-child a {
  border-top: none;
}

.menu li a:hover {
  background: #f1faff;
}

/* from: http://desandro.github.com/3dtransforms */

.card {
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800;
}

.card .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  -moz-transition: -moz-transform 500ms ease-in-out;
  border: 1px solid #eee;
  border-bottom-color: #cacaca;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 0 white, 0 1px 4px 0 #ddd;
  -moz-box-shadow: inset 0 -1px 0 0 white, 0 1px 4px 0 #ddd;
}

.card .face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.card.flipped .wrapper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

/* sideflip effect */

.card.sideflip .wrapper {
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
}

.card.sideflip.flipped .wrapper {
  -webkit-transform: translateX(-100%) rotateY(180deg);
  -moz-transform: translateX(-100%) rotateY(180deg);
}


/* Page Wrapper */
.wrap, #title, #content, footer {
	width: 960px;
	margin: 0 auto;
	text-align: left; }

/* Hides Tablet & Smartphone Elements Initially */
.responsive { display: none; }

.line,.lastUnit{overflow:hidden; *overflow:visible;*zoom:1;}
.unit{float:left;}
.unitRight{float:right;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit{float:none;width:auto;_position:relative;_left:-3px;_margin-right:-3px;}
.def-content { padding: 12px 15px 8px }
aside .def-content { padding: 8px; }
.section-footer {
-webkit-border-bottom-left-radius:3px;
-webkit-border-bottom-right-radius:3px;
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;

-webkit-box-shadow: inset 0px 1px 0 0px #fff;
-moz-box-shadow: inset 0px 1px 0 0px #fff;
box-shadow: inset 0px 1px 0 0px #fff;
position:relative;
top:8px;
background:#f0f0f0;
border-top:1px solid #ddd;
border-bottom:1px solid #c7c7c7;
color:#666;
font-size:12px;
padding:15px 15px 13px;
}

.animal-selection-form {
	border: 1px solid #ccc;
	overflow-y:auto;
	height:278px;
}

.longfield { width:240px; }

.animal-selection-form li {
	background: #f1f1f1;
	border-bottom: 1px solid #ccc;
}

.animal-selection-form li a {
	display:block;
}

.animal-selection-form li.odd a {
	background: #f9f9f9;
}

.animal-selection-form .image, .animal-selection-form .descriptions {
	padding:10px;
	display:inline;
	float:left;
}
.animal-selection-form .image {
	text-align:center;
	border-right:1px solid #ccc;
	width:80px;
}

.animal-selection-form li a:hover {
	-webkit-transition:all 0.3s ease-in;
	background: #ffc;
}

.animal-holder {
	width:149px;
	height:124px;
	padding-top:25px;
	text-align:center;
	background:url('../img/animal-holder.png') no-repeat center center;
	margin:35px auto 20px;
}

.animal-selection-form .image-label {
	color: #666;
	font-weight:700;
	text-align:center;
	font-size:11px;
}

.animal-selection-form .descriptions {
	margin:0 0 0 5px;
	font-size: 12px;
	line-height:24px;
	color: #666;
}

.light-right-border {  border-right:1px solid #ccc }
.light-left-border {  border-left:1px solid #ccc }
.register-form { padding-left:30px; min-height:370px }
.user-status-online, .user-status-offline {
	border-radius:33px;
	vertical-align:middle;
	display:inline-block;
	width:10px;
	height:10px;
	background:#f00;
}

.user-status-online { background: #090; }

.bigheader {font-size:30px;line-height:30px;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;font-weight:700;color:#444}

/* Header, Navigation & Search */
header {
	background: #141414 url(../img/stripe.jpg) repeat-x top center;
	position: fixed;
	width: 100%;
	z-index: 999;
	-webkit-font-smoothing: subpixel-antialiased;
	padding-top: 5px; }
	
	.texture { 
		box-shadow:0 0 2px 1px rgba(0,0,0,0.4); 
		background: #141414 url(../img/texture.jpg) repeat-x top;
		border-top: 1px solid #686868; }
	
	
	header nav { 
		float: left;
		position: relative; }
		header li {
			list-style: none;
			float: left;
			padding: 6px 0 7px; }

		.redzu-user2 header nav {
			top:9px;
		}
			
		header li a, header .search-input { 
			display: block;
			color: #ccc;
			font-size: 13px;
			text-shadow: 1px 1px 0px #000;
			padding: 0 10px;
			height: 22px;
			line-height: 22px;
			margin: 1px 4px 1px 0; }
			
			header li a:hover {
				color: #fff;
				background: #3d3d3d;
				-webkit-border-radius: 11px;
				-moz-border-radius: 11px;
				border-radius: 11px; }
			
			header li.active > a, header li a:active, header .search-input { 
				color: #fff;
				background: #1a1a1a;
				border-bottom: 1px solid #3d3d3d;
				border-top: 1px solid #000;
				-moz-box-shadow: inset 0 1px 1px 1px #000;
				-webkit-box-shadow: inset 0 1px 1px 1px #000;
				box-shadow: inset 0 1px 1px 1px #000;
				-webkit-border-radius: 11px;
				-moz-border-radius: 11px;
				border-radius: 11px;
				margin: 0 4px 0 0; }
				
			header li.dropdown a { 
				background-image: url(../img/dropdown.png);
				background-position: right;
				background-repeat: no-repeat;
				padding: 0 22px 0 10px;
				cursor: pointer; }
				header li ul {
					position: absolute; 
					width: 300px;
					top: -300px;
					left: 0px; 
					background: #3b3b3b url(../img/navigation.jpg) repeat-x bottom;
					border-bottom: 1px solid #232323;
					-webkit-transition-property: opacity;
					-webkit-transition-duration: 0.2s;
					-webkit-transition-property: ease-in-out;
					opacity: 0; }
					
					.right-nav { float:right }
					header li.dropdown.redzu-top-drop-user ul {
						width:150px;
						left:-42px;
					}

					header li.dropdown.expanded a { background-image: url(../img/close.png); }
					
						header li.dropdown.expanded ul { 
							top: 36px;
							opacity: 0.98; }
										
					header li ul li { 
						background: none;
						width: 150px;
						border-top: 1px solid #232323;
						padding: 0; }
						
						header li ul li.even { 
							border-right: 1px solid #232323;
							width: 149px; }
						
						header li.dropdown ul li a, header li.dropdown ul li a:active { 
							background-image: none !important;
							margin: 0;
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							border-radius: 0;
							height: 25px;
							line-height: 24px; 
							-webkit-transition-property: background;
							-webkit-transition-duration: 0.5s;
							-webkit-transition-property: ease-in-out;
							height: 23px; }
						
							header li.dropdown ul li a:hover { background: #4a4a4a; }
							
							header li.dropdown ul li a:active {
								padding: 0 10px; 
								box-shadow: none;
								border: none; }


	header form { 
		float: right;
		position:relative;
		top:7px;
		right:10px; }
		
		header .search-input {
			width: 85px;
			border-left: none;
			border-right: none;
			padding-right: 26px; }
					
		header .search-submit {
			width: 18px;
			height: 18px;
			text-indent: -9999px;
			background: url(../img/icon-search.png) no-repeat center; 
			padding: 0;
			margin: 0;
			border: none; 
			box-shadow: none; 
			position: absolute;
			top: 4px;
			right: 5px; }
			
			header .search-submit:active { top: 5px; }

.redzu-user-top-drop {

}

.edit-pure, .edit-pure:focus {
	font-family: "Helvetica Neue", Arial, sans-serif;
	padding:0;
	margin:0;
	border:0;
	overflow:hidden;
	background:transparent;
	width:100%;
	font-size:13px;
	line-height:18px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.edit-hacker, .edit-hacker:focus {
	
}

.ajax-load-dark-input[disabled] {
	color: #ccc;
}

.ajax-load-dark-input {
	background: url(../img/ajax-load-light.gif) center right no-repeat !important;
}

.edit-big, .edit-big:focus {
	background:#f0f0f0;
}
.edit-big:focus {
	-webkit-transition: all 0.12s ease-in;
	transition: all 0.12s ease-in;
	color: #444;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(234, 111, 153, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(234, 111, 153, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(234, 111, 153, 0.1);
}

.im-text { font-size:11px; }

.im-text, .im-icon {
	cursor:pointer;
}

.im-icon {
	padding-left:20px;
	line-height:16px;
	text-indent:-1000em;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:1px 1px;
	-webkit-background-size:14px 14px;
	background-size:14px 14px;
	position:relative;
}
.im-icon-comment {
	background-image:url(../img/ricon16x16/comment.png);
}
.im-icon-flag {
	background-image:url(../img/ricon16x16/flag.png);
}
.im-icon-love {
	background-image:url(../img/ricon16x16/heart.png);
}
.im-icon-delete {
	background-image:url(../img/ricon16x16/delete.png);
}
.im-icon-edit {
	background-image:url(../img/ricon16x16/edit.png);
}
.im-icon-list {
	background-image:url(../img/ricon16x16/list.png);
}
.im-icon-calendar {
	background-image:url(../img/ricon16x16/calendar.png);
}

.im-action-like {
	width:47px;
	overflow:hidden;
}

.im-icon-unlove, .im-icon-love:hover {
	background-image:url(../img/ricon16x16/heart-red.png);
	color:#E0246F;
}
.im-icon-unlove:hover {
	text-indent:-9999px!important;
	overflow:hidden;
}
.im-icon-unlove:hover:after {
	content:"Unlike";
	position:absolute;
	left:9999px;
	margin-left:20px;
}

.im-icon:hover {
	transition:background-size 0.05s ease-in;
	-webkit-transition:background-size 0.05s ease-in, -webkit-background-size 0.05s ease-in;
	background-position:0px 0px;
	-webkit-background-size:16px 16px;
	background-size:16px 16px;
}
.redzu-user .redzu-user-top-img { 
	float:left;
	cursor:pointer!important;
}

.redzu-user .redzu-user-top-img img {
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	-ms-border-radius:9px;
	border-radius:9px;
}
.redzu-user .redzu-user-top-img:hover .redzu-user-top-notifications {
	-webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 0, 0.7);
	-moz-box-shadow: 0px 0px 0px 2px rgba(255, 255, 0, 0.7);
	box-shadow: 0px 0px 1px 1px rgba(110, 255, 0, 0.8);
}
.im-push, .im-push:hover, .im-no-effect, .im-no-effect:hover {
	-webkit-transition:background-size 0.05s ease-in, -webkit-background-size 0.05s ease-in;
	background-position:4px 4px;
	-webkit-background-size:16px 16px;
	background-size:16px 16px;
	padding:4px 4px 4px 20px;
	border-radius:4px;

}
.opacitylight { opacity:0.4 }


.im-push:hover, .im-active {
	background-color:rgba(0,0,0,0.1);
	border-bottom:1px solid #fff;
	border-top:1px solid rgba(0,0,0,0.2);
}

.section-def > h1 .im-push, #main > h1 .im-push, .sale > h1 .im-push {
	margin-top:7px;
	margin-left:6px;
}

.im-left-icon { float:left; margin:7px 4px 0 0!important; }

.redzu-user .redzu-user-top-notifications {
	-webkit-border-radius:33px;
	-moz-border-radius:33px;
	-ms-border-radius:33px;
	border-radius:33px;
	background:#0a0;
	line-height:10px;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:10px;
	padding:1px 2px;
	text-shadow:none;
	color:#fff;
	position:absolute;
	top:3px;
	right:-4px;
}
.redzu-user-notifications-long {
	top:auto!important;
	bottom:4px;
}
.left-login-form {
	width:60%;
	float:left;
}
.right-login-form {
	width:40%;
	float:left;
}
.invitation-form {
	margin-right:35px;
	text-align:center;
	padding-right:30px;
	#background:#f9f9f9;
}
.light-shadow {
	text-shadow:0 1px 1px rgba(255,255,255, 1);
}
.signin_connected .signin_btn span {
	position:absolute;
	height:100%;
	width:100%;
	display:block;
	color:#f1f1f1;
	text-align:center;
	font-weight:700;
	font-size:11px;
	background:rgba(0,0,0,0.6);
	text-shadow:0 -1px 1px #000;
	line-height:23px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.signin_connected .signin_btn {
	position:relative;
	text-indent:0;
	overflow:hidden;
	opacity:1.0;
}
.account_link {
	float:left;
}
.linked_label {
	display:none;
}
.signin_connected .linked_label {
	display:inline;
	line-height:23px;
	margin-left:10px;
	float:left;
}

.messages-container {
}
.messages {
	margin-bottom:30px;
	background:rgba(255,255,255,0.3);
}
.message {
	border-bottom:1px solid #ddd;
	-webkit-box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.5);
	box-shadow: inset 1px -1px 0px rgba(255, 255, 255, 0.7);
	position:relative;
	padding:10px 10px 15px;
	min-height:50px;
}
.message.odd {
	background:rgba(255,255,255,0.5)
}
.message-delete {
	display:none;
}
.message-image {
	width:50px;
	margin-right:10px;
	position:absolute;
	line-height:0;
	background:#fff;
	padding:1px;
	top:13px;
	left:10px;
}
.message-time { font-size:10px;color:#999; border-top:1px solid #ddd;margin-top:4px;padding-top:3px; }
.message-image img, .message-image {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.message-right {
	color:#777;
	text-align:justify;
	padding-left:60px;
}
.message-text {
	min-height:60px;
}

.calendarbox .im-icon, .calendarbox:hover .im-icon { -webkit-transition:all 0.1s ease-in; transition:all 0.1s ease-in;}
.calendarbox .im-icon { margin-left:-30px }
.calendarbox .im-icon:hover { opacity:1 }
#after-ticket-price { color:#080; font-weight:700; padding:4px; margin-left:20px;}
/* Logo & Social Media */	
#title { padding-top: 41px; }



	#title h1 { 
		float: left;
		margin: 27px 0 0; }
		
		#title h1:active { margin-top: 28px; }
	
	#title ul { 
		padding: 29px 0 27px; 
		float: right; }
	
		#title li {
			list-style: none;
			float: left;
			padding-left: 8px; }
			
		#title li a {
			display: block;
			width: 24px;
			height: 24px; 
			text-indent: -9999px; 
			margin: 1px 0; }
			
			#title li.call { 
				height: 26px;
				line-height: 26px;
				font-size: 13px;
				color: #fff;
				padding: 0 6px 0 32px;
				background: url(../img/icon-call.png) no-repeat left; }
				
				#title li.call b { 
					color: #e4dedb;
					padding-right: 3px; }
					
				#title .underline { 
					border-bottom: 1px solid #75797a;
					padding: 2px 0;
					color: #fff; }
			
			#title li.twitter a { background: url(../img/icon-twitter.png) no-repeat center; } 
			
			#title li.facebook a { background: url(../img/icon-facebook.png) no-repeat center; } 
			
			#title li.flickr a { background: url(../img/icon-flickr.png) no-repeat center; } 
			
			#title li.rss a { background: url(../img/icon-rss.png) no-repeat center; } 
			
			#title li a:hover { opacity: 0.65; }
			
			#title li a:active { margin: 2px 0 0; }

	/* Main Content Area — Left Column incl. Slideshow, Featured Items, Specials & Sale */
	#left-column {
		width: 705px;
		float: left; }

		#slideshow, .section-def, #featured, .sale { 
			background: #edebe8; 
			border-bottom: 7px solid #edebe8;
			margin-bottom: 30px;
			position: relative; }
						
			#slideshow > ul, #featured > ul, .sale > ul { border-bottom: 1px solid #f4f4f4; }
		
			#slideshow li, #featured li, .sale li { 
				list-style: none;
				position: relative; }

				#slideshow li h1, .section-def h1, #featured h1, .sale h1 { 
					background: #f4f4f4; 
					border-top: 1px solid #fafafa;
					border-bottom: 1px solid #c7c7c7;
					font-size: 15px;
					padding: 0 15px;
					height: 39px; 
					line-height: 39px; }
					
					#slideshow li img { display: block; }
					
				.price {
					position: absolute;
					top: 25px;
					left: 58px;
					width: 120px;
					height: 75px; }
					
					.price ul { 
						padding: 0;
						width: 120px;
						height: 72px;
						position: relative; }
					
					.price li { 
						color: #88b2ae; 
						font-size: 16px;
						width: 72px;
						height: 72px;
						text-align: center;
						line-height: 72px;
						background: url(../img/circle-price.png) no-repeat center;
						position: absolute !important;
						top: 0;
						left: 0;
						z-index: 100; }
						
						.price li b { font-size: 22px; }
						
						.price li del { 
							display: block;
							font-size: 11px;
							position: absolute;
							width: 72px;
							height: 11px;
							text-align: center;
							bottom: 43px;
							left: 0; }
						
						.price li.details { 
							background: none;
							z-index: 99; 
							left: 48px; }
														
							.price li.details a { 
								display: block;
								width: 72px;
								height: 72px;
								background: url(../img/circle-more.png) no-repeat center;
								text-indent: -9999px; }
						
				.slider-prev, .slider-next, .featured-prev, .featured-next {
					position: absolute;
					text-indent: -9999px;
					width: 18px;
					height: 18px;
					display: block;
					background: url(../img/arrows.gif) no-repeat top left;
					top: 11px;
					right: 11px;
					cursor: pointer; }
					
					.featured-prev, .featured-next { background: url(../img/controls.gif) no-repeat top left; }
					
					.slider-prev, .featured-prev { 
						right: 29px;
						background-position: 0 0; }
						
						.slider-prev:hover, .featured-prev:hover { background-position: 0 -18px; }
					
					.slider-next, .featured-next { background-position: -18px 0; }
					
						.slider-next:hover, .featured-next:hover { background-position: -18px -18px; }
						
					.slider-prev:active, .slider-next:active, .featured-prev:active, .featured-next:active { top: 12px; }
					
			#specials, #main { margin-bottom: 30px; }
					
				#specials li, #main {
					background: #edebe8;
					border-top: 1px solid #fafafa;
					padding: 7px 8px 8px;
					margin-right: 14px;
					float: left;
					list-style: none; }
					
					#specials li.third { 
						margin: 0;
						padding: 7px 9px 8px; }
						
					#specials img { 
						width: 209px;
						display: block; }
					
			#featured .slide, #featured .featured {
				width: 705px; }
				
			#featured h1 { padding-left: 0; }
			
				#featured h1 img { 
					float: left;
					height: 39px; }
											
			#featured .product, .sale .product, .user-block {
						width: 235px;
						height: 120px;
						background:#fff;
						text-align:center;
						float: left; 
						position: relative;
						overflow: hidden; }
						
				#featured .overlay, .section-def .overlay, .sale .overlay, .sale .overlay {
					display: none;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%; 
					background: url(../img/product-overlay.png) repeat; }

				.user-block:hover .overlay h3 {
					display:block;
					color:#fbfbfb;
					font-size:28px;
					font-family:"Helvetica Neue", Arial, sans-serif;
					text-align:center;
					margin-top:40px;
				}
					
					#featured .product:hover .overlay, .sale .product:hover .overlay, .sale .user-block:hover .overlay { display: block; }
						
						#featured .price h2, .sale .price h2, .sale .user-block h3 { display: none; }
							
			.sale h1 { color: #7a3f5c; }
							
				.section-def h1 a, .sale h1 a { 
					font-size: 12px;
					float: right;
					color: #858585;
					border-bottom: 1px solid #d7d7d7;
					display: block;
					height: 28px; }
					
					.section-def h1 a:hover, .sale h1 a:hover { color: #363636; }
					
			#main { 
				float: none;
				padding: 20px 30px;
				margin: 0 0 30px 0; }
					
			#main ul, #main ol, .variants, .product-cart {
				background: #f4f4f4; 
				border: 1px solid #c7c7c7;
				padding: 10px 10px; 
				margin: 5px 0; }
				
				.variants label, .product-cart label { padding: 0; }
				
				.product-cart { padding: 15px 30px; }
				
				.product-cart h2.item { 
					display: inline;
					line-height: 40px;
					padding: 0 8px; }
					
				.product-cart input { text-align: center; }
				
				.product-cart img { 
					float: right;
					margin: 15px 0 15px 30px; }
				
				#main a { color: #7a3f5c; }
				
					#main a:hover { color: #88b2ae; }
					
				#main .comments li { 
					list-style: none; 
					padding: 10px 0; }
				
			.button, #main .button {
				cursor: pointer;
				display: inline-block;
				border: none;
				text-align: center;
				background: #7a3f5c;
				padding: 10px 9px 9px; 
				margin: 5px 0;
				font-size: 12px;
				font-weight: 700;
				line-height: 1;
				color: #fff; }
				
				.button:hover, #main .button:hover { 
					color: #fff;
					background: #88b2ae; }


			.button-smaller {
				line-height:22px!important;
				font-size:11px!important;
				padding:0 8px!important;
			}
					
			.category h1 { padding: 0 15px !important; }
			
			.total { 
				float: left;
				padding: 10px 0; }

.redzu-user-medium-img { width:235px; height:120px; background:#fff }
	
.edit-profile-field { text-indent:-999em;opacity:0.55;width:0;display:inline-block;cursor:pointer;padding-left:19px;height:16px;background:url('../img/edit-icon.png') no-repeat; }
.edit-profile-field:hover { opacity:1; }
.edit-profile-field-form { display:inline; }
.edit-profile-field-form select { padding:5px; }
.edit-profile-field-form input { padding:7px; }
.edit-profile-field-form .save-profile-field { padding:10px 11px !important; margin-left:5px !important; }

#profilefields .profile-field>small { padding-right:15px }
#profile_aboutme .edit-button { margin:15px 0 }
.edit-profile-field-alt, #profile_aboutme .edit-profile-field { text-indent:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-position:6px 7px;padding:6px 6px 6px 28px;background-color:#fff;width:auto; }

.or-seperator {
	margin-bottom:10px;
	margin-top:1px;
	display:inline-block;
	position:relative;
	top:1px;
	color:#999;
}
.sign-in-block, .fancy-block {
	background:#fff;
	border:1px solid #d1d1d1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:20px;
}
.sign-in-block {
	text-align:center;
}
.sign-in-block h4, .fancy-block h4, .fancyhead, .loginhead {
	font-size:18px;
	color: #933d6f;
}

.loginhead {
	font-size:18px;
	display:block;
	margin:13px 0;
}

.signin_facebook, .signin_twitter {
	display:inline-block;
	text-indent:-999em;
	width:150px;
	height:22px;
	background-position:0px 0px;
}
.signin_facebook:hover, .signin_twitter:hover {
	background-position:0 -24px;
}
.signin_facebook:active, .signin_twitter:active {
	background-position:0 -48px;
}
.signin_facebook {
	background-image:url(../img/signin_facebook.png);
}
.signin_twitter {
	background-image:url(../img/signin_twitter.png);
}

	/* Main Content Area — Sidebar incl. Cart, Popular Items, Tag Filter & Contact Details */					
	aside {
		width: 235px;
		float: right; }
		
		aside section { 
			background: #f4f4f4;
			margin-bottom: 30px; }
		
		aside h2, #about-us form h2 {
			background: #efece8 url(../img/sidebar-headline.jpg) repeat-x bottom; 
			border-bottom: 1px solid #adaaa6; 
			border-top: 1px solid #fafafa; 
			color: #73716e;
			font-size: 15px;
			text-shadow: 1px 1px 0px #e3e3e3;
			padding: 0 15px; 
			height: 39px;
			line-height: 39px; }
		
		aside li { 
			list-style: none;
			line-height: 15px;
			padding: 10px 15px 9px;
			border-bottom: 1px solid #bdbab7;
			border-top: 1px solid #fafafa; }
			
			aside li.odd { background: #edebe8; }
			
			aside li:last-child { 
				border-bottom: none;
				padding-bottom: 10px; }
			
			aside li:hover { background: #fff url(../img/sidebar-arrow.gif) no-repeat right; }
						
			aside li a { display: block; }
		
		#cart { 
			background: #2b2b2b;
			text-shadow: 1px 1px 1px #000; }
			
			#cart ul { border-bottom: 1px solid #141414; }
			
				#cart li {
					border-bottom: none;
					border-top: 1px solid #141414; }
		
			#cart h2 { 
				background: #1b1a1a url(../img/cart.jpg) repeat-x top;
				border-top: 1px solid #212121;
				border-bottom: 1px solid #343434;
				color: #ccc;
				text-shadow: 1px 1px 1px #000;
				padding: 0; }
				
				#cart h2 img { 
					float: left;
					height: 39px;
					border-right: 1px solid #141414;
					margin-right: 11px; }
				
			#cart p {  
				padding: 10px 15px;
				color: #ccc; }
				
				#cart a, #cart b { color: #fff; }
				
			#popular li {
				position: relative;
				overflow: hidden;
				padding-left: 62px;  }
				
					#popular li .product-preview { 
						position: absolute;
						width: 50px;
						top: 0;
						left: 0;
						overflow: hidden; }
						
						#popular li .product-preview img {
							margin-left: 0; }
							
							#popular li .product-preview img:hover { opacity: 0.85; }
				
					#popular li:hover .product-preview { margin: 0; }
				
		.infolist li { padding-left: 38px; }
		
			.infolist .address { background: url(../img/icon-address.png) no-repeat left; }
			
			.infolist .phone { background: url(../img/icon-phone.png) no-repeat left; }
			
			.infolist .email { background: url(../img/icon-email.png) no-repeat left; }
			
			.infolist .web { background: url(../img/icon-web.png) no-repeat left; }
			
		#cart li.even { background: #1f1f1f; }
					
		#cart li.odd { background: transparent; }
					
		#cart li:hover { background: #1a1a1a; }
					
		#cart li a { color: #ccc; }
					
			#cart li:hover a { color: #fff; }
						
			#cart li b { padding-right: 9px; }

/* Footer incl. Copyright Notice & Navigation */
footer { 
	margin: 0 auto 28px;
	line-height: 15px;
	font-size: 11px;
	text-align: left;
	color: #858585; 
	text-shadow: 1px 1px 0 #f7f5f2; }
	
	footer p { 
		padding: 0 15px;
		width: 45%; 
		float: left; }
		
	footer a { color: #858585 !important; }
	
		footer a:hover { color: #363636 !important; }
		
	footer b { color: #363636; }
		
	footer nav { 
		float: right;
		padding: 0 3px 0 15px; }
		
		footer li {
			list-style: none;
			float: left;
			padding-right: 12px; }
			
			footer li.active { font-weight: bold; }
			
/* Bottom Information incl. Latest News, Twitter Feed, About Us and Newsletter Subscription */
#bottom { 
	color: #363636;
	font-size: 12px;
	line-height: 20px; 
	padding-bottom: 15px; }
	
	#bottom a { 
		color: #7a3f5c !important;
		font-size: 11px;
		font-weight: bold; }
		
		#bottom a:hover { color: #88b2ae !important; }

	#bottom h2 {
		font-size: 15px;
		line-height: 1;
		color: #363636;
		padding: 0 15px; }

#recent-news, #latest-tweets {
	width: 225px;
	float: left; 
	margin-right: 14px; }
	
	#recent-news li, #latest-tweets li {
		padding: 15px 15px 14px 57px;
		border-bottom: 1px solid #d5d4d3;
		position: relative;
		float: none; }
		
		#recent-news li { min-height: 55px; }
		
		#recent-news li:last-child, #latest-tweets li:last-child { border: none; }
		
		#recent-news .date {
			position: absolute;
			top: 19px;
			left: 15px; 
			background: #88b2ae url(../img/date.jpg) no-repeat top right;
			color: #f0ede9;
			width: 32px;
			text-align: center;
			padding: 5px 0 2px;
			text-shadow: none; }
			
			#recent-news .date b {
				display: block;
				text-align: center; 
				font-size: 18px;
				line-height: 1;
				color: #f0ede9; }
				
			#recent-news .month {
				font-size: 10px;
				line-height: 1;
				text-transform: uppercase;
				font-weight: bold; }
				
		#latest-tweets li { 
			background: url(../img/latest-tweets.jpg) no-repeat top left;
			background-position: 14px 19px;
			padding: 15px 15px 14px 40px; }
			
			.tweet_join {
				font-size: 11px;
				color: #858585; }
	
#about-us {
	float: left;
	width: 482px;
	position: relative;
	padding-bottom: 140px; }
	
	#about-us p { 
		width: 467px;
		padding: 15px 0 0 15px; }
		
	#about-us form { 
		width: 467px;
		background: #f4f4f4;
		position: absolute;
		bottom: 0;
		right: 0; }
		
	#about-us label {
		background: #edebe8;
		display: block;
		border-bottom: 1px solid #bdbab7; 
		border-top: 1px solid #f4f4f4; 
		font-weight: bold;
		color: #363636;
		padding: 11px 15px; 
		line-height: 15px; }
		
	#about-us .newsletter-input {
		padding: 0 45px 0 15px;
		margin: 0;
		border: none; 
		background: transparent;
		width: 407px;
		height: 40px;
		font-size: 11px; }
		
	#about-us .newsletter-submit {
		text-indent: -9999px;
		height: 16px;
		width: 16px; 
		border: none;
		padding: 0;
		margin: 0;
		background: transparent url(../img/newsletter-button.png) no-repeat center; 
		cursor: pointer;
		position: absolute;
		right: 15px;
		bottom: 12px; }
		
		#about-us .newsletter-submit:active { bottom: 11px; }


.show-480 { display:none; }
.show-1024 { display:none; }
.show-1024-or-480 { display:none; }
.show-1024-or-fullsize { display:block; }
.show-fullsize { display:block; }

.message-status-in, .message-status-out {
	padding-right:1px;
	color:#bbb;
}
.message-status-in:before {
	content:"\25C0";
}
.message-status-out:before {
	content:"\25B6";
}
.my-messages {
	list-style:none;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.my-messages li a {
	padding:12px;	
	border-left:2px solid #aaa;
	background:#fff;
	display:block;
	color: #444;
}
.my-messages li.unread a {
	border-color: #6a6;
}
.my-messages li .image {
	float:left;
	margin-right:11px;
	position:relative;
}
.my-messages li h2 {
	line-height:18px;
	margin-bottom:5px;
}
.my-messages li .image {
	line-height:0;
}
.my-messages li .image img {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
}
.my-messages li:nth-child(even) a {
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	background:#f9f9f9;
}
.my-messages li a:hover, .my-messages li a:focus {
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	border-left-width:4px;
}

.profile-photos {
	padding:0!important;
	border:none!important;
	background:none!important;
	list-style:none;
	display:block;
}
.profile-photos li {
	text-align:center;
	float:left;
	margin-bottom:10px;
	margin-right:10px;
	padding:0;
}
.profile-photos li a {
	width:241px;
	height:146px;
	line-height:142px;
	overflow:hidden;
	display:block;
	background:#f9f9f9;
	box-shadow: 0 1px 5px rgba(0,0,0,0.13), inset 0 0 2px 2px white;
}
.profile-photos li a:hover {
	transition:all 0.1s ease-in;
	-webkit-transition:all 0.1s ease-in;
	background:#f1f6f6;
}
.profile-photos li a img {
	vertical-align:middle
}


.dropdown .redzu-user-top {
	padding-left:32px;
}
.redzu-notify-tab {
	top:2px;
	position:relative;
	left:21px;
}

.redzu-notifications-list, .redzu-notifications-list li {
	display:block!important;
	width:100px;
	height:100px;
	background:#f00;
}


ul.redzu-pfuser-nav, #main ul.redzu-pfuser-nav {
	border:0;
	padding:0;
	background:none;
	list-style:none;
	margin-bottom:0;
	margin-top:15px;
}
ul.redzu-pfuser-nav li {
	display:inline;
	float:left;
}
ul.redzu-pfuser-nav a {
	float:left;
	padding:7px 10px;
	border:1px solid transparent;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	position:relative;
	border-bottom:0;
}

.redzu-pfuser-under-nav {
	background:#f9f9f9;
	border:1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:20px;
}

ul.redzu-pfuser-nav a:hover {
	background:#f8f8f8;
	border-color:#ddd;
	color: #b47!important;
}
ul.redzu-pfuser-nav a.active, ul.redzu-pfuser-nav a.active:hover {
	background:#f9f9f9;
	padding-bottom:8px;
	border-color:#bbb;
	top:1px;
}

.wprofile ul.redzu-pfuser-nav a.active, .wprofile ul.redzu-pfuser-nav a.active:hover {
	background:#edebe8;
}
.wprofile {
	padding:0!important;
}

.profilebit {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	border-bottom:1px solid #bbb;
	padding:20px 20px 0 20px;
}

.profilebit, .sign-in-block {
	background: #fafafa;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyMyUiIHN0b3AtY29sb3I9IiNmYWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3NiUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWRlZGVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  #fafafa 23%, #f6f6f6 76%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,#fafafa), color-stop(76%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #fafafa 23%,#f6f6f6 76%,#ededed 100%);
	background: -o-linear-gradient(top,  #fafafa 23%,#f6f6f6 76%,#ededed 100%);
	background: -ms-linear-gradient(top,  #fafafa 23%,#f6f6f6 76%,#ededed 100%);
	background: linear-gradient(top,  #fafafa 23%,#f6f6f6 76%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ededed',GradientType=0 );

}

.full-image, .event-image {
	width:100%;
	background:#eee url(../img/rough_diagonal.png) repeat;
	text-align:center!important;
}
.full-image .img, .event-image .img {
	display:block;
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size: 100% auto;
	height:210px;
	width:100%;
}
.event-image-large .img {
	height:350px;
	-webkit-background-size: 100% 100%;
}

.larger-text {
	font-size: 16px;
	line-height: 16px;
}

.font-alt { 
	font-family: "Helvetica Neue", Arial, sans-serif; }

h2.font-alt {
	font-size:15px;
}

.mrs { margin-right:8px; }

#basic-info {
	font-size:16px;
	text-shadow:0 1px 1px rgba(0,0,0,0.01);
	color:#777;
}
.user-summary {
	padding-bottom:14px;
	min-width:240px;
	display:inline-block;
	*display:inline;
}
.edit-user-summary {
	position:relative;
	margin-top:-13px;
	margin-left:-20px;
	padding:12px 20px;
	border:1px solid transparent;
	border-left:0;
	cursor:pointer;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
}

.edit-user-summary:hover, .edit-user-summary:active {
	background:#fff;
	border-color:#ddd;
}
.edit-user-summary:active {
	background:#fbfbfb;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.delete-btn {
	float:right;
	position:relative;
	top:1px;
	left:4px;
}
.delete-btn .ui-icon {
	float:left;
	top:1px;
	left:-2px;
	margin-left:-5px;
	position:relative;
}
.edit-no-text {
	width:20px;
	height:19px;
	position:relative;
	top:2px;
}
.edit-no-text .ui-button-icon-primary {
	left:1px!important;
}
.required-field {
	
}

.logintmpl #title {
	padding-top:60px;
}
.logintmpl #recent-news {
	display:none;
}
.logintmpl #about-us {
	padding:0!important;
	width:auto!important;
	clear:none!important;
}

.main-pagination {
	clear:both;
	padding-top:8px;
}

.main-pagination .previous {
	margin-right:4px;
}

.main-pagination .next {
	margin-left:4px;
}

.main-pagination .page-links a, .main-pagination .page-links .active {
	margin:3px;
	padding:4px 8px;
	background: #a33c7b;
	border:1px solid #6B2B4F;
	text-shadow:0 1px 1px rgba(0,0,0,0.3);
	color:#fff;
}

.main-pagination .page-links a:hover {
	background: #bf4992;
}

.main-pagination .page-links a:active {
	background: #753956;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#753956', endColorstr='#92346e',GradientType=0 );
}

.main-pagination .page-links .active {
	background:#f6f6f6;
	text-shadow:none;
	border-color:#888;
	color:#555;
}

.minsmall #left-column, .minsmall aside { float: none; } 

.minsmall .wrap, .minsmall #title, .minsmall #content, .minsmall footer, .minsmall aside { width: 705px; }

.minsmall #cart, .minsmall #tags, .minsmall #popular, .minsmall .infolist { width: 342px; }

.minsmall #cart, .minsmall #tags { float: left; }

.minsmall #popular, .minsmall .infolist { float: right; }	

.minsmall #recent-news, .minsmall #latest-tweets { 
width: 342px;
margin: 0; }

.minsmall #latest-tweets { float: right; }

.minsmall #about-us {
float: none;
width: 100%; 
clear: both; 
padding: 15px 0;
margin-bottom: 15px; }

.minsmall #about-us .introduction { width: 342px; }

.minsmall #about-us .introduction p { 
	width: 312px;
	padding-right: 15px; }

.minsmall #about-us form { 
	width: 342px;
	bottom: auto;
	top: 33px; }
	
.minsmall #about-us .newsletter-input { width: 282px; }
.minsmall .infolist { float:none }

/* Tablet & Smartphone Only */			
@media only screen and (max-width: 1024px) {
	.splashleft { width:65%; }
	.splashright { width:35%; }
	.break1024 { display:block }
	.login_unit { padding-left:24px; }
	.show-480 { display:none; }
	.show-1024 { display:block; }
	.show-1024-or-480 { display:block; }
	.show-1024-or-fullsize { display:block; }
	.show-fullsize { display:none; }

	#left-column, aside { float: none; } 
	
	.wrap, #title, #content, footer, aside { width: 705px; }
	
	#cart, #tags, #popular, .infolist { width: 342px; }
	
		#cart, #tags { float: left; }
		
		#popular, .infolist { float: right; }	
		
	#recent-news, #latest-tweets { 
		width: 342px;
		margin: 0; }
		
		#latest-tweets { float: right; }
		
	#about-us {
		float: none;
		width: 100%; 
		clear: both; 
		padding: 15px 0;
		margin-bottom: 15px; }
		
		#about-us .introduction { width: 342px; }
			
			#about-us .introduction p { 
				width: 312px;
				padding-right: 15px; }
			
			#about-us form { 
				width: 342px;
				bottom: auto;
				top: 33px; }
				
	#about-us .newsletter-input { width: 282px; }
	.infolist { float:none }
}


/* Smartphone Only */
@media only screen and (max-width: 480px) {
	.or-seperator { display:block; }
	.logintmpl #title { padding-top:30px }
	.user-block, .user-block img, .user-block .overlay { width:150px; height:77px }
	.user-block:hover .overlay h3 { font-size:13px; margin-top:30px; }
	.user-block .user-status-offline, .user-block .user-status-online { width:6px;height:6px; }
	.splashleft { width:100%; }
	.splashright { width:100%; }
	.break1024 { display:none }
	.login_unit { padding-left:0;padding-top:20px;margin-top:30px;border-left:0; border-top:1px solid #ccc; }
	.mobilebreak{display:block}
	.bigheader { font-size:24px; }
	.tcentermob { text-align:center }
	#dialog { min-width:280px!important; max-width:400px!important; max-height:400px!important; overflow:auto; }
	.register-form { padding-left:0;min-height: }
	.redzu-user-top-username { display:none }
	.def-content, 
	aside .def-content { padding: 11px 14px 7px }
	.image-box-3 { width:100%; }

	header li.dropdown.redzu-top-drop-user ul {
		width:150px;
		left:-72px;
	}
	
	.generic-textarea { width:218px }
	.show-480 { display:block; }
	.show-1024 { display:none; }
	.show-1024-or-480 { display:block; }
	.show-1024-or-fullsize { display:none!important; }
	.show-fullsize { display:none; }
	.calendar thead td .show-1024-or-fullsize { display:none; }

	.calendar td { padding:2px; }
.minsmall body, .minsmall html {
  -webkit-text-size-adjust: none;
  -webkit-background-size: 800px 225px;
  background-position: -265px 22px; }
.minsmall .light-right-border {
  border-right: 0 !important; }
.minsmall .light-left-border {
  border-left: 0 !important; }
.minsmall header form, .minsmall .regular, .minsmall #featured .price h2, .minsmall .section-def .price h2, .minsmall .sale .price h2, .minsmall del, .minsmall .call {
  display: none; }
.minsmall .responsive {
  display: block; }
.minsmall .size1of2, .minsmall .size1of3, .minsmall .size2of3, .minsmall .size1of4, .minsmall .size3of4, .minsmall .size1of5, .minsmall .size2of5,
.minsmall .size3of5, .minsmall .size4of5 {
  float: none;
  width: auto; }
.minsmall .wrap, .minsmall #title, .minsmall #content, .minsmall footer, .minsmall aside, .minsmall #cart, .minsmall #tags, .minsmall #popular, .minsmall .section-def, .minsmall .infolist, .minsmall #specials, .minsmall #featured, .minsmall .sale, .minsmall #left-column, .minsmall #about-us, .minsmall #about-us .introduction {
  width: 300px; }
.minsmall #cart, .minsmall #tags, .minsmall #popular, .minsmall .infolist, .minsmall footer p, .minsmall footer nav, .minsmall header nav, .minsmall header form {
  float: none; }
.minsmall footer p, .minsmall footer nav {
  width: auto; }
.minsmall .slider img {
  width: 350px; }
.minsmall #title li {
  padding-left: 4px; }
.minsmall header nav {
  position: relative; }
.minsmall #featured .slide, .minsmall #featured .featured {
  width: 300px;
  height: auto;
  float: none; }
.minsmall #featured .product, .minsmall .sale .product, .minsmall #featured .product img, .minsmall .sale .product img {
  display: block;
  width: 150px;
  float: left;
  height: auto;
  cursor: pointer; }
.minsmall .price {
  top: 2px;
  left: 16px; }
.minsmall #specials, .minsmall #specials li, .minsmall #specials li.third {
  margin: 0 14px 15px 0; }
.minsmall #specials li.second {
  margin-right: 0; }
.minsmall #specials img {
  width: 127px; }
.minsmall .product-cart {
  padding: 15px; }
.minsmall .product-cart img {
  float: left;
  width: 208px;
  margin: 0 0 15px; }
.minsmall #recent-news, .minsmall #latest-tweets {
  float: none;
  width: 300px; }
.minsmall #latest-tweets {
  margin-top: 15px; }
.minsmall .test {
  border-radius: 5px; }
.minsmall #about-us {
  padding-bottom: 154px;
  margin-bottom: 15px; }
.minsmall #about-us .introduction p {
  width: 270px; }
.minsmall #about-us form {
  width: 300px;
  top: auto;
  bottom: 0; }
.minsmall #about-us .newsletter-input {
  width: 240px; }

	body, html { 
		-webkit-text-size-adjust: none; 
		-webkit-background-size: 800px 225px;
		background-position: -265px 22px; }

	.light-right-border { border-right:0 !important }
	.light-left-border { border-left:0 !important }
	
	header form, .regular, #featured .price h2, .section-def .price h2, .sale .price h2, del, .call { display: none; }
	
	.responsive { display: block; }

	.size1of2, .size1of3, .size2of3, .size1of4, .size3of4, .size1of5, .size2of5,
	.size3of5, .size4of5 {float:none;width:auto}


	.wrap, #title, #content, footer, aside, #cart, #tags, #popular, .section-def, .infolist, #specials, #featured, .sale, #left-column, #about-us, #about-us .introduction { width: 300px; }
	
	#cart, #tags, #popular, .infolist, footer p, footer nav, header nav, header form { float: none; }
		
	footer p, footer nav { width: auto; }
		
	.slider img { width: 350px; }
	
	#title li {
	padding-left: 4px;
}
		
	header nav { position: relative; }
		
		#featured .slide, #featured .featured {
			width: 300px;
			height: auto;
			float: none; }
			
			#featured .product, .sale .product, #featured .product img, .sale .product img {
				display: block;
				width: 150px; 
				float: left;
				height: auto;
				cursor: pointer; }
				
			.price {
				top: 2px;
				left: 16px;  }
				
	#specials, #specials li, #specials li.third { margin: 0 14px 15px 0; }
		
		#specials li.second { margin-right: 0; } 
		
		#specials img { width: 127px; }		
		
	.product-cart { padding: 15px; }
		
		.product-cart img { 
			float: left;
			width: 208px;
			margin: 0 0 15px; }
			
	#recent-news, #latest-tweets { 
		float: none;
		width: 300px; }
	
		#latest-tweets { margin-top: 15px; }
		.test { border-radius:5px }
	#about-us { 
		padding-bottom: 154px;
		margin-bottom: 15px; }
		
		#about-us .introduction p { width: 270px; }
		
		#about-us form { 
				width: 300px;
				top: auto;
				bottom: 0; }
				
		#about-us .newsletter-input { width: 240px; }
}

/* High Resolution Retina Images for iPhone 4 / 4s */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {

body, html {
	-webkit-background-size: 800px 225px;
	background-position: -310px 22px; }
	
header { -webkit-background-size: 500px 4px; }
	
.texture { -webkit-background-size: 50px 37px; }

header li.dropdown a { 
	background-image: url(../img/dropdown-2x.png);
	-webkit-background-size: 17px 8px; }
	
	header li.dropdown.expanded a { 
		background-image: url(../img/close-2x.png);
		-webkit-background-size: 17px 10px; }
	
header .search-submit {
	background: url(../img/icon-search-2x.png) no-repeat center; 
	-webkit-background-size: 18px 18px; }
	
#title li a { -webkit-background-size: 24px 24px; }
	
#title li.twitter a { background: url(../img/icon-twitter-2x.png) no-repeat center; } 
			
#title li.facebook a { background: url(../img/icon-facebook-2x.png) no-repeat center; } 
			
#title li.flickr a { background: url(../img/icon-flickr-2x.png) no-repeat center; } 
			
#title li.rss a { background: url(../img/icon-rss-2x.png) no-repeat center; } 

.slider-prev, .slider-next, .featured-prev, .featured-next {
	background: url(../img/arrows-2x.gif) no-repeat top left;
	-webkit-background-size: 36px 36px;
	background-position: 0 0; }

.featured-prev, .featured-next { 
	background: url(../img/controls-2x.gif) no-repeat top left;
	-webkit-background-size: 36px 36px; }
						
	.slider-prev:hover, .featured-prev:hover { background-position: 0 -18px; }
					
	.slider-next, .featured-next { background-position: -18px 0; }
					
	.slider-next:hover, .featured-next:hover { background-position: -18px -18px; }
		
.infolist, .infolist .address, .infolist .phone, .infolist .email, .infolist .web { -webkit-background-size: 30px 16px; }
	
.infolist .address { background: url(../img/icon-address-2x.png) no-repeat left; }
			
.infolist .phone { background: url(../img/icon-phone-2x.png) no-repeat left; }
			
.infolist .email { background: url(../img/icon-email-2x.png) no-repeat left; }
			
.infolist .web { background: url(../img/icon-web-2x.png) no-repeat left; }

.price li {
	background: url(../img/circle-price-2x.png) no-repeat center;
	-webkit-background-size: 72px 72px; }
	
	.price li.details a {
		background: url(../img/circle-more-2x.png) no-repeat center;
		-webkit-background-size: 72px 72px; }

aside h2, #about-us form h2 {
	background: #efece8 url(../img/sidebar-headline-2x.jpg) repeat-x bottom; 
	-webkit-background-size: 10px 38px; }

#recent-news .date {
	background: #88b2ae url(../img/date-2x.jpg) no-repeat top right;
	-webkit-background-size: 29px 35px; }

#latest-tweets li { 
	background: url(../img/latest-tweets-2x.jpg) no-repeat top left; 
	-webkit-background-size: 16px 12px;
	background-position: 14px 19px; }

#about-us .newsletter-submit {
	background: transparent url(../img/newsletter-button-2x.png) no-repeat center;
	-webkit-background-size: 16px 16px; }

}


.hide { display:none; }
.tcenter { text-align:center }
.fleft, .fright { float:left; display:inline }
.show-text { text-indent:0!important }
.fright { float:right!important }

.bc-green {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font: bold 22px "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1;
  padding: 17px 20px 18px 20px;
  text-align: center;
  text-shadow: 0 -1px 1px #4c9021;}
.bc-green:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer; }
.bc-green:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }