<section id="left-column">
	<section class="section-def"> 
		<h1>Deals</h1> 
		<div class="def-content">
			<ul class="my-messages">
				{% for deal in deals %}
				<li class="user-status-{{ user.online_status ? 'unread' : 'read' }} ">
					<a href="{{ deal.dealUrl }}" target="_blank" class="clear">
						<span class="image">{{ img(deal.grid6ImageUrl, { width: 150 }) }}</span>
						<h2 style="font-size:15px">{{ deal.title }}</h2>
						<span style="color:#555">{{ deal.pitchHtml|striptags|truncate(230) }}</span>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="def-content">
			{{ pagination }}
		</div>
	</section>
</section>
<aside>
  	{{ include_viewmodel('users_profilesidebar') }}
</aside>
