<div class="section-def">
	<div class="def-content" style="padding:37px 30px 30px">
	<div class="line">
		<div class="tcentermob unit splashleft">
			<div class="show-1024-or-fullsize" style="padding-top:15px"></div>
			<h2 class="bigheader">Welcome to Redzu!</h2>
			<p style="margin:12px 0 0;font-size:16px;color:#888">We make online dating work.</p>
			<p style="padding:13px 0 23px">At RedZu, we focus on bringing compatible singles together <br class="break1024 mobilebreak" />at fun, local events in the real world.<br /><br class="break1024 mobilebreak" />It’s the faster way to meet real people for real connections.</p>
			<form action="{{ url('/users/register') }}" method="get"><button class="button" style="padding:20px 30px;font-size:18px;">Sign-Up Now, It's FREE!</button><br />


			</form>
			<div class="show-1024-or-fullsize" style="padding-top:15px"></div>
		</div>

		<div class="lastUnit splashright">
			<div class="login_unit">
			<div style="font-size:18px;color:#666;padding-bottom:20px">Already have an account?</div>
			<form action="{{ url('users/login') }}" method="post">
				<label for="username">Username</label>
				<div class="input-with-error">
					<input type="text" name="username" id="username" value="">
					<div class="error">
						
					</div>
				</div>
				<label for="password">Password</label>
				<div class="input-with-error">
					<input type="password" name="password" id="password" value="">
					<div class="error">
						
					</div>
				</div>

				<label>
					<input type="checkbox" value="1" name="remember_me" id="remember_me">
					Keep me signed in
				</label>
				<br>
				<input type="submit" value="Login">
			</form>
			
			</div>
		</div>
	</div>
</div>
</div>
{% include 'partials/loginsocial.twig' %}