
{% if not photos %}
		{% if not edit %}
			{{ pfuser.username }} has no photos.
		{% endif %}
{% else %}
	<div class="image-box-container clear">
	{% for k, photo in photos %}
	<div class="image-box-3">
		<div class="image-box" data-photo-id="{{ photo.id }}">
			<a href="{{ url("#{photos_link}/#{photo.id}") }}" class="image-box-image">
				<img src="{{ img_url("#{photo.url}", { 'width': '250', 'height': [null, '250'] }) }}" />
			</a>
			<p class="image-desc">
				{% if edit %}
				<span class="clickb {{ photo.description ? 'user-value' : 'default-value' }}">
					{{ photo.description ? photo.description|raw|nl2br : 'click here to edit description' }}
				</span>
				{% elseif photo.description %}
					{{ photo.description|raw|nl2br }}
				{% else %}
					Uploaded {{ photo.created_at|time_ago }}
				{% endif %}
			</p>
			<div class="image-nav clear">
			{% if edit %}
				<span class="im-icon im-action-edit im-icon-edit">edit</span>
				<span class="im-icon im-action-delete im-icon-delete">delete</span>
				{% if photo.album != 'redzu-default' %}
					<a class="im-text im-action-setdefault fright">set default</a>
				{% endif %}
				{{ get_like_button('photo', photo.id) }}
			{% else %}
				{{ get_like_button('photo', photo.id) }}
				<span class="im-icon im-icon-flag fright show-text">Report</span>
			{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}

