{% if edit %}
	{% if flash_error %}
		<div class="flash_error">{{ flash_error }}</div>
	{% endif %}
	{% if flash_success %}
		<div class="flash_success">{{ flash_success }}</div>
	{% endif %}
	{% if photos %}
		<p>Why not upload some more photos?</p>
	{% else %}
		<p>Perhaps you should upload a photo!</p>
	{% endif %}
	<form action="{{ url("#{photos_link}/upload") }}" method="post" enctype="multipart/form-data">
		<input type="file" name="upload_img" onchange="this.form.submit()" />
	</form>
	<hr />
{% endif %}