<section id="mysettings" class="section-def">
<h1>My Settings</h1>
<div class="def-content">
	<ul class="redzu-pfuser-nav clear">

	{% if 0 %}
	<li>
		<a class="{{ route_active('users/settings/profile') }}" href="{{ url('users/settings/profile') }}">Profile</a>
	</li>
	{% endif %}
	<li>
		<a class="{{ route_active('users/settings/account','users/settings/index') }}" href="{{ url('users/settings/account') }}">Account</a>
	</li>
	<li>
		<a class="{{ route_active('users/settings/notifications') }}" href="{{ url('users/settings/notifications') }}">Notifications</a>
	</li>
	<li>
		<a href="{{ url('users/cancel') }}">Cancel Membership</a>
	</li>
	</ul>
	<div class="redzu-pfuser-under-nav">
		{{ content }}
	</div>
</div>
</section>