<form action="{{ url() }}" method="post" class="mbl">
	<label>Email</label>
	<div class="input-with-error">
		<input type="email" name="email" id="email" value="{{ fields.email }}" />
		<div class="error">
			{{ errors.email }}
		</div>
	</div>

	<label for="password" class="mtl">New Password:</label>
	<div class="input-with-error">
		<input type="password" name="password" id="password" value="" />
		<div class="error">
			{{ errors.password }}
		</div>
	</div>
	<label for="confirm_password">Repeat Password:</label>
	<div class="input-with-error">
		<input type="password" name="confirm_password" id="confirm_password" value="" />
		<div class="error">
			{{ errors.confirm_password }}
		</div>
	</div>
	<input type="submit" class="mtm button" value="Save" />
</form>
<hr />

<h2>Link your social network accounts</h2>
<div class="clear mvl">
{% for mk, method in loginmethods %}
<div class="account_link mrs {{ method.connected ? 'signin_connected' : '' }}"><a href="{{ url("users/settings/account/#{ method.connected ? 'unlink' : 'link' }/#{mk}") }}" class="signin_{{ mk }} signin_btn" {% if method.connected %}onclick="return confirm('Are you sure you want to unlink {{ method.name }} from your Redzu account?')"{% endif %}><span>Unlink {{ method.name }}</span></a></div>
{% endfor %}
</div>
