
	<form method="post" action="{{ url() }}">
		<h2>Change your password</h2>
		<label for="password">New Password:</label>
		<div class="input-with-error">
			<input type="password" name="password" id="password" value="" />
			<div class="error">
				{{ errors.password }}
			</div>
		</div>
		<label for="confirm_password">Repeat Password:</label>
		<div class="input-with-error">
			<input type="password" name="confirm_password" id="confirm_password" value="" />
			<div class="error">
				{{ errors.confirm_password }}
			</div>
		</div>
		<input type="submit" class="mtm button" value="Save" />
	</form>