<div class="animal-selection-form">
<ul>
        {% for key, animal in animals %}
        {% set k = k + 1 %}
        <li class="{{ k is odd ? 'odd' : 'even' }}">
                <a href="#" data-animal="{{ key }}" class="clear">
                        <div class="image">
                                {{ img(animal.image, { 'width': '50', 'height': '50' }) }}
                                <div class="image-label">{{ animal.name }}</div>
                        </div>
                        <div class="descriptions">
                                {% for desc in animal.descriptions %}
                                <div>{{ desc }}</div>
                                {% endfor %}
                        </div>
                </a>
        </li>
        {% endfor %}
</ul>
</div>
