<div class="sign-in-block mvl">
<h4>Sign in with your<br class="mobilebreak" /> favorite social network</h4>

<a href="{{ url('/users/session/facebook') }}" class="signin_facebook mtl mbs">Sign in with Facebook</a><span class="or-seperator">&nbsp;&nbsp;&nbsp;— or —&nbsp;&nbsp;&nbsp;</span><a href="{{ url('/users/session/twitter') }}" class="signin_twitter">Sign in with Twitter</a>
</div>