<form action="{{ url('users/login') }}" method="post">
		<label for="username">Username</label>
		<div class="input-with-error">
			<input type="text" name="username" id="username" value="{{ username }}" />
			<div class="error">
				{{ username_error }}
			</div>
		</div>
		<label for="password">Password</label>
		<div class="input-with-error">
			<input type="password" name="password" id="password" value="" />
			<div class="error">
				{{ password_error }}
			</div>
		</div>

		<label>
			<input type="checkbox" value="1" name="remember_me" id="remember_me" />
			Keep me signed in
		</label>
		<br />
		<input type="submit" class="button" value="Login" />
	</form>