<script type="text/javascript">
//<![CDATA[
/**                
 *             _______________________________
 *            /                              / 
 *           /   Hey whatcha lookin for!?   /
 *          /______________  ______________/
 *                         \/
 *
 *                 __------__
 *                /~          ~\
 *               |    //^\\//^\|
 *             /~~\  ||  o| |o|:~\
 *            | |6   ||___|_|_||:|
 *             \__.  /      o  \/'
 *              |   (       O   )
 *     /~~~~\    `\  \         /
 *    | |~~\ |     )  ~------~`\
 *   /' |  | |   /     ____ /~~~)\
 *  (_/'   | | |     /'    |    ( |
 *         | | |     \    /   __)/ \
 *         \  \ \      \/    /' \   `\
 *           \  \|\        /   | |\___|
 *             \ |  \____/     | |
 *             /^~>  \        _/ <
 *            |  |         \       \
 *            |  | \        \        \
 *            -^-\  \       |        )
 *                 `\_o_o_o_/^\_o_o_o/
 *  
 */
var redzu = {};
redzu.user = {};
redzu.env = "{{ get_global('site.environment') }}";
redzu.host = window.location.hostname;

redzu.user.uid = {{ get_global('user.id', -1) }};
redzu.user.username = "{{ get_global('user.username') }}";
redzu.user.isGuest = {{ not logged_in ? 'true' : 'false' }};
redzu.user.gmtOffset = {{ get_global('gmtoffset', 0) }};
//]]>
</script>