<p>Thanks for registering!<p>

<label for="firstname">Upload Photo:</label>
<input type="file" name="register[picture]" id="picture" />

<br />
<input type="submit" class="button" value="Done" name="next" />
<input type="button" class="button" onclick="window.location='{{ url('/me') }}';" value="Skip" name="skip" />
