<div class="line" style="height:100%">
<div class="unit size2of3" style="height:100%">
	{% if animal %}
	<h4 style="font-size:24px;margin-top:30px" class="tcenter">You chose {{ singular(animal.name) }} <strong>{{ animal.name }}</strong></h4>
	<p class="tcenter">
		{{ img(animal.image, { 'width': '150' }) }}
		<br /><br />
		Like the {{ animal.name|lower }}, you are
		{% for k, desc in animal.descriptions %}
		{{ desc|lower }},
		{% endfor %} or you just like {{ animal.name|lower }}s.
		<br /><br />
		It's not too late to change your mind.<br /><br />
		<input type="button" class="button" onclick="window.location='{{ url("/users/register/1") }}'" value="Change my animal"></p>
	</p>
	{% else %}
	<h4 style="font-size:24px;margin-top:30px" class="tcenter">Don't want an animal? That's okay.</h4>
	<p style="padding:30px 50px" class="tcenter">We think animals make good icebreakers for our events. It can describe your personality or present many questions like "Why did you choose your animal?" or "Are you really powerful like your animal?"<br /><br />
	<input type="button" onclick="window.location='{{ url("/users/register/1") }}'" value="Select an animal"></p>
	{% endif %}
</div>
<div class="unit lastUnit size1of5" style="height:100%">
	<div class="register-form light-left-border">
{% if flash_error %}
	<div style="margin:10px 0 20px;color:#a55;">{{ flash_error }}</div>
{% endif %}
<label for="username">Username:</label>
<input type="text" class="longfield" name="register[username]" id="username" value="{{ username }}" />

<label for="email">E-mail:</label>
<input type="text" class="longfield" name="register[email]" id="email" value="{{ email }}" />

<label for="password">Password:</label>
<input type="password" class="longfield" name="register[password]" id="password" value="" />
<label>
	<input type="checkbox" value="1" name="register[tos]" id="tos" />
	I agree the <a href="{{ url('pages/terms') }}" target="_blank">terms of service</a>
</label>

<br />
<input type="submit" class="button" value="Sign-up" name="next" />
	</div>
</div>
</div>
