<section class="section-def">
	<h1 class="clear">
		<div class="fright">
			<input type="submit" onclick="document.getElementById('animal').value='';" style="display:none" id="skip" name="skip" class="button-smaller" value="Skip &raquo;" />
		</div>
		<div class="fleft">{{ title }}</div>
	</h1>
	<div class="def-content">
		{% if flash_error %}
			<div style="margin:10px 0 20px;color:#a55;">{{ flash_error }}</div>
		{% endif %}
		<div class="line">
			<div class="unit size3of5" style="display:none" id="zodiac_form">
				<div class="zodiac-form-main clear">
					<span id="zodiac_error" class="flash_error clear" style="visibility:hidden">&nbsp;</span>
					<p>What year were you born?</p>
					<select style="padding:5px;border-color:#946;" name="years" id="zodiac_years" data-min-year="{{ "now"|date("Y")-19 }}">
						<option value="">&nbsp;&nbsp;&hearts;&nbsp;&nbsp;</option>
					</select>
				</div>
			</div>
			<div class="unit size3of5" id="animals_list">
				{% include "partials/animals_list.twig" %}
			</div>
			<div class="lastUnit size2of5">
				<input type="hidden" id="animal" name="register[animal]" value="" />
				<div id="animalimg" class="animal-holder">
					<p style="color:#333;margin-top:24px;text-shadow:0 1px 0 #fff;">Please select<br />an animal</p>
				</div>
				<div class="tcenter">
					<input type="submit" id="animalsubmit" style="padding:7	px 9px" value="Skip this step &raquo;">
				</div>
			</div>
		</div>
	</div>
	<div class="section-footer clear">
		<div id="go_oldschool_wrap">
			<div class="fright">
				<button class="button" type="button" id="go_oldschool_btn">Go Old School!</button>
			</div>
			<strong style="font-size:14px">Can't Decide?</strong><br />
			<span style="font-size:12px">
				Pick your animal with your birthdate using the Chinese Zodiac.
			</span>
		</div>
		<div id="animals_list_wrap" style="display:none">
			<div class="fright">
				<button class="button" type="button" id="go_back_btn">&laquo; Go Back</button>
			</div>
			<strong style="font-size:14px">Not what you thought?</strong><br />
			<span style="font-size:12px">
				You can always go back and pick an animal, or skip this step.
			</span>
		</div>
	</div>
</section>