<label for="firstname">First Name:</label>
<input type="text" name="register[firstname]" id="firstname" value="{{ firstname }}" />

<label for="lastname">Last Name:</label>
<input type="text" name="register[lastname]" id="lastname" value="{{ lastname }}" />

<label for="password">Date of Birth:</label>
<select name="register[dob_month]" id="month">
	<option value="-1" disabled selected> Month: </option>
{% for key, value in months %}
	<option {% if dob_month == key %}selected{% endif %} value="{{ key }}">{{ value }}</option>
{% endfor %}
</select>
<select name="register[dob_day]" id="days">
	<option value="-1" selected> Day: </option>
{% for key, value in days %}
	<option {% if dob_day == value %}selected{% endif %}>{{ value }}</option>
{% endfor %}
</select>
<select name="register[dob_year]" id="year">
	<option value="-1" selected> Year: </option>
{% for key, value in years %}
	<option {% if dob_year == value %}selected{% endif %}>{{ value }}</option>
{% endfor %}
</select>

<br />
<input type="submit" class="button" value="Next" name="next" />