{% if my_profile and pfuser.completed_profile != 100 %}
<section>
  <h2>You are almost done.</h2>
  <div class="def-content">
  	<p><small>We require a few things from you before you show up on the RedZu radar.</small></p>
    <p class="percentage-step-label"> 
    	{% if pfuser.next_step %}
    		<a href="{{ pfuser.next_step[0] }}">{{ pfuser.next_step[1] }}</a>
    	{% endif %}
    </p>
    <div class="percentage-bar">
    	<div class="percentage-bar-current" style="width:{{ pfuser.completed_profile }}%"></div>
    </div>
    <div class="percent-text">{{ pfuser.completed_profile }}% complete</div>
  </div>
</section>
{% endif %}

{{ include_module("profiles#popular") }}