
	{{ include_module('profiles#similar') }}

	{% if show_visited %}
    <section class="sale">
      <h1>People who visited your <a href="collection.htm" title="See All Products"></a>profile</h1>
      <ul>
        <li class="slide">
          <div class="product"> {{ img("bits/product-32.jpg", { "alt": "Product Image" }) }}
            <div class="overlay">
              <div class="price">
                <h2>Rachel ask</h2>
                <ul>
                  <li><b>4.3</b>Rating</li>
                  <li class="details"><a href="member_32.html" title="More Details">More Details</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="product"> {{ img("bits/product-31.jpg", { "alt": "Product Image" }) }}
            <div class="overlay">
              <div class="price">
                <h2>Rockstar Freelancer Paperback</h2>
                <ul>
                  <li><b>3.8</b>Rating</li>
                  <li class="details"><a href="member_31.html" title="More Details">More Details</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="product"> {{ img("bits/product-30.jpg", { "alt": "Product Image" }) }}
            <div class="overlay">
              <div class="price">
                <h2>Mini Cards</h2>
                <ul>
                  <li><b>4.3</b>Rating</li>
                  <li class="details"><a href="member_30.html" title="More Details">More Details</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="product"> {{ img("bits/product-29.jpg", { "alt": "Product Image" }) }}
            <div class="overlay">
              <div class="price">
                <h2>Rockable Press</h2>
                <ul>
                  <li><b>4.3</b>Rating</li>
                  <li class="details"><a href="member_29.html" title="More Details">More Details</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="product"> {{ img("bits/product-28.jpg", { "alt": "Product Image" }) }}
            <div class="overlay">
              <div class="price">
                <h2>Rockstar Freelancer Paperback</h2>
                <ul>
                  <li><b>3.8</b>Rating</li>
                  <li class="details"><a href="member_28.html" title="More Details">More Details</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="product"> {{ img("bits/product-27.jpg", { "alt": "Product Image" }) }}
            <div class="overlay">
              <div class="price">
                <h2>Another Book</h2>
                <ul>
                  <li><b>4.3</b>Rating</li>
                  <li class="details"><a href="member_27.html" title="More Details">More Details</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
    {% endif %}