<!DOCTYPE HTML>
<html lang="en">
<head>
<title>{{ title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
{{ css_tags }}

<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body class="{{ body_class }} minsmall redzu{{ logged_in ? ' redzu-user' : '' }}">
{% include 'partials/redzujs.twig' %}
<!-- Header incl. Navigation & Search -->
{% include 'partials/template/header.twig' %}

<section id="content">
  {% if flash.error %}
    <div class="flash_error">{{ flash.error }}</div>
  {% elseif flash.success %}  
    <div class="flash_success">{{ flash.success }}</div>
  {% endif %}
  {% if flash.info %}  
    <div class="flash_info">{{ flash.info }}</div>
  {% endif %}
  {% if flash.notice %} 
    <div class="flash_notice">{{ flash.notice }}</div>
  {% endif %}
  {{ content }}
</section>

<!-- Footer incl. Copyright and Secondary Navigation -->
{% include 'partials/template/footer.twig' %}

<!-- JQuery --> 
{{ js('http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js') }}
{{ javascript_tags }}
{{ load_js() }}
</body>
</html>