<table class="calendar">
	<thead class="days">
		<tr>
			<td>S<span class="show-1024-or-fullsize">unday</span></td>
			<td>M<span class="show-1024-or-fullsize">onday</span></td>
			<td>T<span class="show-1024-or-fullsize">uesday</span></td>
			<td>W<span class="show-1024-or-fullsize">ednesday</span></td>
			<td>T<span class="show-1024-or-fullsize">hursday</span></td>
			<td>F<span class="show-1024-or-fullsize">riday</span></td>
			<td>S<span class="show-1024-or-fullsize">aturday</span></td>
		</tr>
	</thead>
	<tbody>
		{% for week in month.weeks %}
			<tr class="week">
			{% for day in week %}
				<td class="day {{ month.selected_day == day.num ? 'selectedday' : '' }} {{ day ? '' : 'notday' }}">
					{% if day %}
						{% if day.events %}
						<a href="{{ url("events/list/#{ month.num }/#{ day.num }") }}" class="dayofweek">
							{{ day.num }}
						</a>
						{% else %}
						<span class="dayofweek">
						{{ day.num }}
						</span>
						{% endif %}
						</div>
					{% for event in day.events %}
					{% if current_time > event.end_time %}
					<span class="event event-disabled show-1024-or-fullsize">
						{{ event.event_name|truncate(20) }}
						<div style="display:none" class="tipdata">
							<div class="clear" style="max-height:84px;overflow:hidden">
							<img class="leftimg" src="{{ img_url(event.get_default_photo().url, {'width':80, 'height':80}) }}" />
							<p class="fleft" style="padding:0!important">
								<h2 class="font-alt" style="height:47px">{{ event.event_name }}</h2>
								<h4><small>This event has ended</small></h4>
								<h4>{{ event.venue_city }}, {{ event.state }}</h4>
							</p>
						</div>
					</span>
					{% else %}
					<a href="{{ url("events/show/#{event.id}") }}" class="event show-1024-or-fullsize">
						{{ event.event_name|truncate(20) }}
						<div style="display:none" class="tipdata">
							<div class="clear" style="max-height:84px;overflow:hidden">
							<img class="leftimg" src="{{ img_url(event.get_default_photo().url, {'width':80, 'height':80}) }}" />
							<p class="fleft" style="padding:0!important">
								<h2 class="font-alt" style="height:47px">{{ event.event_name }}</h2>
								<h4>@ {{ event.start_time|date('g:iA') }} - {{ event.end_time|date('g:iA') }}</h4>
								<h4>{{ event.venue_city }}, {{ event.state }}</h4>
							</p>
							</div>
						</div>
					</a>
					{% endif %}
					{% endfor %}
					{% endif %}
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
<div class="clear" style="margin:11px 2px 0">
{% if month.num - 1 %}
	{% set prev_month = "#{month.num-1}/1/2000"|date("F") %}
	<a href="{{ url("events/calendar/#{month.num-1}") }}" class="monthnav button fleft">&laquo; {{ prev_month }}</a>
{% endif %}

{% if (month.num + 1) <= 12 %}
	{% set next_month = "#{month.num+1}/1/2000"|date("F") %}
	<a href="{{ url("events/calendar/#{month.num+1}") }}" class="monthnav button fright">{{ next_month }} &raquo;</a>
{% endif %}
</div>