<section class="section-def">
	<h1>{{ title }}
		<span onclick="window.location='{{ url("events/list/#{month.num}") }}'" class="im-icon im-icon-list {{ view == 'list' ? 'im-active' : '' }} im-push fright">List</span>
		<span onclick="window.location='{{ url("events/calendar/#{month.num}") }}'" class="im-icon im-icon-calendar {{ view == 'calendar' ? 'im-active' : '' }} im-push fright">Calendar</span>
	</h1>
	<div class="def-content">
		{% include "events/#{view}.twig" %}
	</div>
</section>