<section id="left-column">

	<section class="section-def">
		<h1>
	  	{% if event %}
	  	<a class="tlink" href="{{ url("/events/#{event.id}") }}">{{ event.event_name }}</a>
	  	{% endif %}
	    Photos ({{ photos|length }})
	  	</h1>
		<div class="def-content">
			<div class="redzu-pfuser-under-nav">
				{% include '/photos/upload_form.twig' %}
				{% include '/photos/show.twig' %}
			</div>
		</div>
	</section>	

	{{ include_viewmodel('users_profilefooter') }}
	
</section>
<aside>
{% if edit %}
	<section>
      <h2>Default Event Photo</h2>
      <div class="def-content">
      	<div class="aside-default-image">
        	<img src="{{ img_url(default_photo.url, { 'width': 250, 'height': [ null, 250 ] }) }}" />
    	</div>
      </div>
    </section>
{% endif %}
	{{ include_viewmodel('users_profilesidebar') }}
</aside>
<!-- Tag Filter -->

<!-- Contact Information --></aside>