<section id="left-column">
{% if edit %}
<div class="mvm clear">
	<button onclick="window.location='{{ url("events/update/#{event.id}") }}'" class="button fright">Edit Event</a>
	<button onclick="window.location='{{ url("events/#{event.id}/photos") }}'" class="fright mrs">Edit Photos</a>
</div>
{% endif %}
<section id="slideshow">
	<ul class="slider regular">
	
		{% for photo in event.photos %}
		<li>
			<h1>{{ photo.description|default(event.event_name) }}</h1>
			
	          <div class="event-image event-image-large">
	          		<a href="{{ url("events/#{event.id}/photos") }}" class="img" style="background-image:url({{ url(photo.url) }});"></a>
	          </div>
		</li>
		{% endfor %}
		
	</ul>
	
	<ul class="slider responsive">
	
		
		{% for photo in event.photos %}
		<li>
			<h1>{{ photo.description|default(event.event_name) }}</h1>
			<a href="{{ url("events/#{event.id}/photos") }}">{{ img(photo.url, {'width':'100%'}) }}</a>
		</li>
		{% endfor %}
		
	</ul>

	<a title="Previous" class="slider-prev">Previous</a>
	<a title="Next" class="slider-next">Next</a>
	
</section>
<section id="main">

	<h2>{{ event.event_name }}</h2>
	<p>{{ event.additional_info|raw|nl2br }}</p>		
	{% if event.ticket_price >= 0.01 %}
		<div class="variants">
			<label for="id">Location</label>
			{{ event.venue_name }}<br />
			{{ event.venue_address }}<br />
			{{ event.venue_city }},
			{{ event.state }}
			{{ event.zipcode }}<br />
			{% if event.venue_website %}
				<a target="_blank" href="{{ event.venue_website }}">visit website</a>
			{% endif %}
		</div>
	{% else %}
	<hr />
	{% endif %}

		<div class="total">
			<h3><b>{{ event.ticket_price ? "$#{event.ticket_price}" : "FREE!" }}</b></h3>
		</div>
		<div class="right">
			{% if buy_ticket %}
			<a href="{{ buy_ticket }}" target="_blank">
				<input type="submit" value="{{ event.ticket_price ? 'Buy' : 'Get' }} Ticket" />
			</a>
			{% endif %}
			<input class="button" type="submit" value="I'm attending" />
		</div>	
					
</section>
<section id="specials"> </section>
</section>

<aside>
  	{{ include_viewmodel('users_profilesidebar') }}
</aside>