<div id="left-column">
	<div class="section-def">
		<h1><span class="im-icon-left im-icon im-no-effect im-icon-list">Calendar</span>
			{{ event.id ? "Editing \"#{event.event_name}\"" : 'Create Event Listing' }}
			{% if event.id %}
			<button id="delete_event_btn" data-link="{{ url("events/delete/#{event.id}") }}" class="delete-btn"><span class="ui-icon ui-icon-close"></span>Delete Event</button>
			{% endif %}
		</h1>
		<div class="def-content">
		<form id="event_form" method="post" action="{{ url() }}">

			<label for="event_name">Event Name:</label>
			<div class="input-with-error">
				<input type="text" name="event_name" value="{{ fields.event_name }}" id="event_name">
				<div class="error">{{ errors.event_name }}</div>
			</div>

			<label for="date">Date:</label>
			<div class="input-with-error">
				<span class="clear calendarbox">
					<input type="text" name="date" value="{{ fields.date }}" id="date">
					<span class="im-icon im-no-effect opacitylight im-icon-calendar">date</span>
				</span>
				<div class="error">{{ errors.date }}</div>
			</div>

			<label for="start_time">Start Time:</label>
			<div class="input-with-error" style="line-height:25px">
				<select name="start_time[0]" id="start_time_0">
				{% for i in 1..12 %}
					<option {{ i == fields.start_time[0] ? 'selected' : '' }}>{{ i }}</option>
				{% endfor %}
				</select>

				<select name="start_time[1]" id="start_time_1">
				{% for i in 0..60 %}
					<option {{ i == fields.start_time[1] ? 'selected' : '' }}>{{ i|length == 1 ? "0#{i}" : i }}</option>
				{% endfor %}
				</select>
				<select name="start_time[2]" id="start_time_2">
				{% for i in ['AM', 'PM'] %}
					<option {{ i == fields.start_time[2] ? 'selected' : '' }}>{{ i }}</option>
				{% endfor %}
				</select>

				<div class="error">{{ errors.start_time }}</div>
			</div>

			<label for="end_time">End Time:</label>
			<div class="input-with-error" style="line-height:25px">
				<select name="end_time[0]" id="end_time_0">
				{% for i in 1..12 %}
					<option {{ i == fields.end_time[0] ? 'selected' : '' }}>{{ i }}</option>
				{% endfor %}
				</select>

				<select name="end_time[1]" id="end_time_1">
				{% for i in 0..60 %}
					<option {{ i == fields.end_time[1] ? 'selected' : '' }}>{{ i|length == 1 ? "0#{i}" : i }}</option>
				{% endfor %}
				</select>
				<select name="end_time[2]" id="end_time_2">
				{% for i in ['AM', 'PM'] %}
					<option {{ i == fields.end_time[2] ? 'selected' : '' }}>{{ i }}</option>
				{% endfor %}
				</select>

				<div class="error">{{ errors.end_time }}</div>
			</div>

			<label for="ticket_website">Ticket Purchase Link:</label>
			<div class="input-with-error">
				<input type="text" name="ticket_website" value="{{ fields.ticket_website|default('http://') }}" id="ticket_website">
				<div class="error">{{ errors.ticket_website }}</div>
			</div>

			<label for="ticket_price">Ticket Price:</label>
			<div class="input-with-error" style="line-height:40px">
				&#36; <input id="ticket_price" type="text" size="3" maxlength="6" name="ticket_price" value="{{ fields.ticket_price ? fields.ticket_price : '0.00' }}" id="ticket_price"> USD <span style="display:{{ fields.ticket_price == 0 ? 'inline':'none'}}" id="after-ticket-price">FREE!</span>
				<div class="error">{{ errors.ticket_price }}</div>
			</div>

			<label for="venue_name">Venue Name:</label>
			<div class="input-with-error">
				<input type="text" name="venue_name" value="{{ fields.venue_name }}" id="venue_name">
				<div class="error">{{ errors.venue_name }}</div>
			</div>

			<label for="venue_address">Venue Address:</label>
			<div class="input-with-error">
				<input type="text" name="venue_address" value="{{ fields.venue_address }}" id="venue_address">
				<div class="error">{{ errors.venue_address }}</div>
			</div>

			<label for="zipcode">Venue Zip Code:</label>
			<div class="input-with-error">
				<input type="text" name="zipcode" size="4" maxlength="5" value="{{ fields.zipcode }}" id="zipcode">
				<div class="error">{{ errors.zipcode }}</div>
			</div>

			<label for="venue_phone">Venue Phone:</label>
			<div class="input-with-error">
				<input type="text" name="venue_phone" maxlength="11" value="{{ fields.venue_phone }}" id="venue_phone">
				<div class="error">{{ errors.venue_phone }}</div>
			</div>

			<label for="venue_website">Venue Website:</label>
			<div class="input-with-error">
				<input type="text" name="venue_website" value="{{ fields.venue_website|default('http://') }}" id="venue_website">
				<div class="error">{{ errors.venue_website }}</div>
			</div>

			<div class="clear">
				<div class="fleft mrs">
					<label for="age_min">Age Minimum:</label>
					<div class="input-with-error">
						<select name="age_min" id="age_min">
						{% for i in 18..100 %}
							<option {{ i == fields.age_min ? 'selected' : '' }}>{{ i }}</option>
						{% endfor %}
						</select>
						<div class="error">{{ errors.age_min }}</div>
					</div>
				</div>
				<div class="fleft">
					<label for="age_max">Age Maximum:</label>
					<div class="input-with-error" >
						<select name="age_max" id="age_max">
							<option value="150">None</option>
						{% for i in 18..100 %}
							<option {{ i == fields.age_max ? 'selected' : '' }}>{{ i }}</option>
						{% endfor %}
						</select>
						<div class="error">{{ errors.age_max }}</div>
					</div>
				</div>
			</div>


			<label for="additional_info">Additional Info:</label>
			<div class="input-with-error">
				<textarea class="generic-textarea" type="text" rows="10" name="additional_info" id="additional_info">{{ fields.additional_info }}</textarea>
				<div class="error">{{ errors.additional_info }}</div>
			</div>

			<div style="margin-top:12px;">
				<input type="submit" class="button" value="{{ event.id ? 'Save Event' : 'Create Event' }}" />
			</div>
		</form>
		</div>
	</div>
</div>
<aside>
{{ include_viewmodel('users_profilesidebar') }}
</aside>